#setup

In [ ]:
from IPython.display import HTML, display

def set_css():
  display(HTML('''
  <style>
    pre {
        white-space: pre-wrap;
    }
  </style>
  '''))
get_ipython().events.register('pre_run_cell', set_css)

In [ ]:
import spacy
import re
import math
import pickle
from itertools import product
import copy
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import torch
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:

from pathlib import Path
def yield_lines(filepath, gzipped=False, n_lines=None):
    filepath = Path(filepath)
    open_function = open
    if gzipped or filepath.name.endswith('.gz'):
        open_function = gzip.open
    with open_function(filepath, 'rt') as f:
        for i, l in enumerate(f):
            if n_lines is not None and i >= n_lines:
                break
            yield l.rstrip('\n')

def read_lines(filepath, gzipped=False):
    return list(yield_lines(filepath, gzipped=gzipped))

In [ ]:
# pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', 50)

In [ ]:
cd '/content/drive/MyDrive/muss'

/content/drive/MyDrive/muss

In [ ]:
!pip install -e . &> /dev/null

# load wikilarge_detokenized

In [ ]:
# stop words
# https://gist.github.com/sebleier/554280
# nltk+SQL

stop_words_list = ["a","about","above","after","again","against","ain","all","am","an","and","any","are","aren","aren't","as","at","be","because","been","before","being","below","between","both","but","by","can","couldn","couldn't","d","did","didn","didn't","do","does","doesn","doesn't","doing","don","don't","down","during","each","few","for","from","further","had","hadn","hadn't","has","hasn","hasn't","have","haven","haven't","having","he","her","here","hers","herself","him","himself","his","how","i","if","in","into","is","isn","isn't","it","it's","its","itself","just","ll","m","ma","me","mightn","mightn't","more","most","mustn","mustn't","my","myself","needn","needn't","no","nor","not","now","o","of","off","on","once","only","or","other","our","ours","ourselves","out","over","own","re","s","same","shan","shan't","she","she's","should","should've","shouldn","shouldn't","so","some","such","t","than","that","that'll","the","their","theirs","them","themselves","then","there","these","they","this","those","through","to","too","under","until","up","ve","very","was","wasn","wasn't","we","were","weren","weren't","what","when","where","which","while","who","whom","why","will","with","won","won't","wouldn","wouldn't","y","you","you'd","you'll","you're","you've","your","yours","yourself","yourselves","could","he'd","he'll","he's","here's","how's","i'd","i'll","i'm","i've","let's","ought","she'd","she'll","that's","there's","they'd","they'll","they're","they've","we'd","we'll","we're","we've","what's","when's","where's","who's","why's","would","able","abst","accordance","according","accordingly","across","act","actually","added","adj","affected","affecting","affects","afterwards","ah","almost","alone","along","already","also","although","always","among","amongst","announce","another","anybody","anyhow","anymore","anyone","anything","anyway","anyways","anywhere","apparently","approximately","arent","arise","around","aside","ask","asking","auth","available","away","awfully","b","back","became","become","becomes","becoming","beforehand","begin","beginning","beginnings","begins","behind","believe","beside","besides","beyond","biol","brief","briefly","c","ca","came","cannot","can't","cause","causes","certain","certainly","co","com","come","comes","contain","containing","contains","couldnt","date","different","done","downwards","due","e","ed","edu","effect","eg","eight","eighty","either","else","elsewhere","end","ending","enough","especially","et","etc","even","ever","every","everybody","everyone","everything","everywhere","ex","except","f","far","ff","fifth","first","five","fix","followed","following","follows","former","formerly","forth","found","four","furthermore","g","gave","get","gets","getting","give","given","gives","giving","go","goes","gone","got","gotten","h","happens","hardly","hed","hence","hereafter","hereby","herein","heres","hereupon","hes","hi","hid","hither","home","howbeit","however","hundred","id","ie","im","immediate","immediately","importance","important","inc","indeed","index","information","instead","invention","inward","itd","it'll","j","k","keep","keeps","kept","kg","km","know","known","knows","l","largely","last","lately","later","latter","latterly","least","less","lest","let","lets","like","liked","likely","line","little","'ll","look","looking","looks","ltd","made","mainly","make","makes","many","may","maybe","mean","means","meantime","meanwhile","merely","mg","might","million","miss","ml","moreover","mostly","mr","mrs","much","mug","must","n","na","name","namely","nay","nd","near","nearly","necessarily","necessary","need","needs","neither","never","nevertheless","new","next","nine","ninety","nobody","non","none","nonetheless","noone","normally","nos","noted","nothing","nowhere","obtain","obtained","obviously","often","oh","ok","okay","old","omitted","one","ones","onto","ord","others","otherwise","outside","overall","owing","p","page","pages","part","particular","particularly","past","per","perhaps","placed","please","plus","poorly","possible","possibly","potentially","pp","predominantly","present","previously","primarily","probably","promptly","proud","provides","put","q","que","quickly","quite","qv","r","ran","rather","rd","readily","really","recent","recently","ref","refs","regarding","regardless","regards","related","relatively","research","respectively","resulted","resulting","results","right","run","said","saw","say","saying","says","sec","section","see","seeing","seem","seemed","seeming","seems","seen","self","selves","sent","seven","several","shall","shed","shes","show","showed","shown","showns","shows","significant","significantly","similar","similarly","since","six","slightly","somebody","somehow","someone","somethan","something","sometime","sometimes","somewhat","somewhere","soon","sorry","specifically","specified","specify","specifying","still","stop","strongly","sub","substantially","successfully","sufficiently","suggest","sup","sure","take","taken","taking","tell","tends","th","thank","thanks","thanx","thats","that've","thence","thereafter","thereby","thered","therefore","therein","there'll","thereof","therere","theres","thereto","thereupon","there've","theyd","theyre","think","thou","though","thoughh","thousand","throug","throughout","thru","thus","til","tip","together","took","toward","towards","tried","tries","truly","try","trying","ts","twice","two","u","un","unfortunately","unless","unlike","unlikely","unto","upon","ups","us","use","used","useful","usefully","usefulness","uses","using","usually","v","value","various","'ve","via","viz","vol","vols","vs","w","want","wants","wasnt","way","wed","welcome","went","werent","whatever","what'll","whats","whence","whenever","whereafter","whereas","whereby","wherein","wheres","whereupon","wherever","whether","whim","whither","whod","whoever","whole","who'll","whomever","whos","whose","widely","willing","wish","within","without","wont","words","world","wouldnt","www","x","yes","yet","youd","youre","z","zero","a's","ain't","allow","allows","apart","appear","appreciate","appropriate","associated","best","better","c'mon","c's","cant","changes","clearly","concerning","consequently","consider","considering","corresponding","course","currently","definitely","described","despite","entirely","exactly","example","going","greetings","hello","help","hopefully","ignored","inasmuch","indicate","indicated","indicates","inner","insofar","it'd","keep","keeps","novel","presumably","reasonably","second","secondly","sensible","serious","seriously","sure","t's","third","thorough","thoroughly","three","well","wonder"]

In [ ]:
# load dataset for preprocessing

PHASES = ['train','valid', 'test']
LANGUAGES = ['complex']
data_names = []

data_dir = '/content/drive/MyDrive/muss/resources/datasets/wikilarge_detokenized/'

for phase, language in product(PHASES, LANGUAGES):
  # print(phase, language)
  data_name = phase + '_' + language
  data_names.append(data_name)

  with open(data_dir+phase+'.'+language) as f:
        
    exec("%s = %s" % (data_name,f.read().splitlines()))

    f.close()

In [ ]:
# remove stop words
for index,file_name in enumerate(data_names):
    
    data = globals()[file_name]
    
    for count, sentence in enumerate(data):

        first_word = sentence.split(' ')[0]

        if first_word.lower() in stop_words_list:
            # delete it
            data[count] = sentence[len(first_word)+1:]

# operation preserving

## NER

In [ ]:
nlp = spacy.load("en_core_web_sm")

def substringSieve(NER_list,re_NER):
  string_list = []
  string_list.extend(NER_list)
  string_list.extend(re_NER)
  
  string_list.sort(key=lambda s: len(s), reverse=True)
  out = []
  for s in string_list:
      if not any([s in o for o in out]):
          out.append(s)
  
  return out

def find_all_NE(text):
  
  doc = nlp(text)
  NER_list = [t.text for t in doc.ents]
  re_NER = re.findall(r"[A-Z][A-z]*(?:(?=\s)\s[A-Z][A-z]*)*(?:(?!\s)\W[A-Z][A-z]*)*(?:(?:\sin(?=\s))*(?:\sof(?=\s))*(?:\sthe(?=\s))*(?:(?=\s[A-Z])\s[A-Z][A-z]*)*)*|(?:[0-9])*",text)
  re_NER = [x for x in re_NER if x != '']

  return substringSieve(NER_list,re_NER)

In [ ]:
data_names

['train_complex', 'valid_complex', 'test_complex']

In [ ]:
data_NER = []

for index,file_name in enumerate(data_names):
    
    data = globals()[file_name]
    
    found_NER_list = []

    for count, sentence in enumerate(data):
        
        found_NER_list += [find_all_NE(sentence)]

        if count%1000 == 0:
            print(file_name,count)
    
    data_NER += [found_NER_list]

# with open('/content/drive/MyDrive/muss/quantative/NER_list_wikilarge_0810_complex', 'wb') as fp:
#     pickle.dump(data_NER, fp)

train_complex 0
train_complex 1000
train_complex 2000
train_complex 3000
train_complex 4000
train_complex 5000
train_complex 6000
train_complex 7000
train_complex 8000
train_complex 9000
train_complex 10000
train_complex 11000
train_complex 12000
train_complex 13000
train_complex 14000
train_complex 15000
train_complex 16000
train_complex 17000
train_complex 18000
train_complex 19000
train_complex 20000
train_complex 21000
train_complex 22000
train_complex 23000
train_complex 24000
train_complex 25000
train_complex 26000
train_complex 27000
train_complex 28000
train_complex 29000
train_complex 30000
train_complex 31000
train_complex 32000
train_complex 33000
train_complex 34000
train_complex 35000
train_complex 36000
train_complex 37000
train_complex 38000
train_complex 39000
train_complex 40000
train_complex 41000
train_complex 42000
train_complex 43000
train_complex 44000
train_complex 45000
train_complex 46000
train_complex 47000
train_complex 48000
train_complex 49000
train_complex 50000
train_complex 51000
train_complex 52000
train_complex 53000
train_complex 54000
train_complex 55000
train_complex 56000
train_complex 57000
train_complex 58000
train_complex 59000
train_complex 60000
train_complex 61000
train_complex 62000
train_complex 63000
train_complex 64000
train_complex 65000
train_complex 66000
train_complex 67000
train_complex 68000
train_complex 69000
train_complex 70000
train_complex 71000
train_complex 72000
train_complex 73000
train_complex 74000
train_complex 75000
train_complex 76000
train_complex 77000
train_complex 78000
train_complex 79000
train_complex 80000
train_complex 81000
train_complex 82000
train_complex 83000
train_complex 84000
train_complex 85000
train_complex 86000
train_complex 87000
train_complex 88000
train_complex 89000
train_complex 90000
train_complex 91000
train_complex 92000
train_complex 93000
train_complex 94000
train_complex 95000
train_complex 96000
train_complex 97000
train_complex 98000
train_complex 99000
train_complex 100000
train_complex 101000
train_complex 102000
train_complex 103000
train_complex 104000
train_complex 105000
train_complex 106000
train_complex 107000
train_complex 108000
train_complex 109000
train_complex 110000
train_complex 111000
train_complex 112000
train_complex 113000
train_complex 114000
train_complex 115000
train_complex 116000
train_complex 117000
train_complex 118000
train_complex 119000
train_complex 120000
train_complex 121000
train_complex 122000
train_complex 123000
train_complex 124000
train_complex 125000
train_complex 126000
train_complex 127000
train_complex 128000
train_complex 129000
train_complex 130000
train_complex 131000
train_complex 132000
train_complex 133000
train_complex 134000
train_complex 135000
train_complex 136000
train_complex 137000
train_complex 138000
train_complex 139000
train_complex 140000
train_complex 141000
train_complex 142000
train_complex 143000
train_complex 144000
train_complex 145000
train_complex 146000
train_complex 147000
train_complex 148000
train_complex 149000
train_complex 150000
train_complex 151000
train_complex 152000
train_complex 153000
train_complex 154000
train_complex 155000
train_complex 156000
train_complex 157000
train_complex 158000
train_complex 159000
train_complex 160000
train_complex 161000
train_complex 162000
train_complex 163000
train_complex 164000
train_complex 165000
train_complex 166000
train_complex 167000
train_complex 168000
train_complex 169000
train_complex 170000
train_complex 171000
train_complex 172000
train_complex 173000
train_complex 174000
train_complex 175000
train_complex 176000
train_complex 177000
train_complex 178000
train_complex 179000
train_complex 180000
train_complex 181000
train_complex 182000
train_complex 183000
train_complex 184000
train_complex 185000
train_complex 186000
train_complex 187000
train_complex 188000
train_complex 189000
train_complex 190000
train_complex 191000
train_complex 192000
train_complex 193000
train_complex 194000
train_complex 195000
train_complex 196000
train_complex 197000
train_complex 198000
train_complex 199000
train_complex 200000
train_complex 201000
train_complex 202000
train_complex 203000
train_complex 204000
train_complex 205000
train_complex 206000
train_complex 207000
train_complex 208000
train_complex 209000
train_complex 210000
train_complex 211000
train_complex 212000
train_complex 213000
train_complex 214000
train_complex 215000
train_complex 216000
train_complex 217000
train_complex 218000
train_complex 219000
train_complex 220000
train_complex 221000
train_complex 222000
train_complex 223000
train_complex 224000
train_complex 225000
train_complex 226000
train_complex 227000
train_complex 228000
train_complex 229000
train_complex 230000
train_complex 231000
train_complex 232000
train_complex 233000
train_complex 234000
train_complex 235000
train_complex 236000
train_complex 237000
train_complex 238000
train_complex 239000
train_complex 240000
train_complex 241000
train_complex 242000
train_complex 243000
train_complex 244000
train_complex 245000
train_complex 246000
train_complex 247000
train_complex 248000
train_complex 249000
train_complex 250000
train_complex 251000
train_complex 252000
train_complex 253000
train_complex 254000
train_complex 255000
train_complex 256000
train_complex 257000
train_complex 258000
train_complex 259000
train_complex 260000
train_complex 261000
train_complex 262000
train_complex 263000
train_complex 264000
train_complex 265000
train_complex 266000
train_complex 267000
train_complex 268000
train_complex 269000
train_complex 270000
train_complex 271000
train_complex 272000
train_complex 273000
train_complex 274000
train_complex 275000
train_complex 276000
train_complex 277000
train_complex 278000
train_complex 279000
train_complex 280000
train_complex 281000
train_complex 282000
train_complex 283000
train_complex 284000
train_complex 285000
train_complex 286000
train_complex 287000
train_complex 288000
train_complex 289000
train_complex 290000
train_complex 291000
train_complex 292000
train_complex 293000
train_complex 294000
train_complex 295000
train_complex 296000
valid_complex 0
test_complex 0

### delete stop words in found Named Entity

In [ ]:
# load NER found in train,valid,test set in Wikilarge

In [ ]:
with open ('/content/drive/MyDrive/muss/qualitative/NER_list_wikilarge_0803', 'rb') as fp:
    complex_data_NER = pickle.load(fp)

In [ ]:
with open ('/content/drive/MyDrive/muss/qualitative/NER_list_wikilarge_0807_simple', 'rb') as fp:
    simple_data_NER = pickle.load(fp)

In [ ]:
# define stop words list
cap_stop_words_list = [x.title() for x in stop_words_list]

In [ ]:
total_stop_words_list = []
total_stop_words_list.extend(cap_stop_words_list)
total_stop_words_list.extend(stop_words_list)
len(total_stop_words_list)

1568

In [ ]:
clean_complex_data_NER = []

for i in range(3):
  
  tmp_list = []
  for j in range(len(complex_data_NER[i])):

    tmp_list.append([x for x in complex_data_NER[i][j] if x not in cap_stop_words_list])
  
  clean_complex_data_NER += [tmp_list]

In [ ]:
clean_complex_data_NER[0][0:10]

[['James Edward Austen', 'the period 1809', 'Anna', '1814', '11'],
 ['Psalms of Thomas', 'Säve-Söderberg', "Mani's Psalms", 'Mandaean'],
 ['a period each year', 'six or three', 'Persephone', 'Hermes', 'Hades'],
 ['Cogeneration'],
 ['Switzerland', 'Romandie', 'Geneva', 'Zürich', 'French'],
 ['ten years later', 'Suzuka', 'Japan', 'F1'],
 ['its first month', 'August 1909'],
 ['the United Kingdom of Great Britain',
  'Hawaiian Independence Day',
  "The Kingdom of Hawai'i",
  'July Monarchy France',
  "Ka La Ku'oko '",
  'Ireland'],
 ['Oxford English Dictionary',
  'Oxford University Press',
  'the Grim Reaper',
  'mowing grass',
  'Scythe',
  '1933'],
 ['Toshihide Saito', 'Japanese']]

In [ ]:
clean_simple_data_NER = []

for i in range(3):

  tmp_list = []
  for j in range(len(simple_data_NER[i])):
    tmp_list.append([x for x in simple_data_NER[i][j] if x not in cap_stop_words_list])
  
  clean_simple_data_NER += [tmp_list]

In [ ]:
clean_simple_data_NER[0][0:10]

[['James Edward', 'Anna Austen', '1814'],
 ['Psalms of Thomas', 'Säve-Söderberg', "Mani's Psalms", 'Mandaean'],
 ['Underworld', 'Persephone', 'Demeter', 'Hades'],
 ['Cogeneration'],
 ['the Tribune de Genève',
  '1 February 1879',
  'James T. Bates',
  'about 187,000',
  'daily',
  'city'],
 ['ten years later', 'Suzuka', 'Japan', 'F1'],
 ['its first month', 'August 1909'],
 ['Hawaiian Independence Day',
  "The Kingdom of Hawai'i",
  'the United Kingdom',
  'November 28',
  'Ka La Ku',
  'France'],
 ['Oxford English Dictionary', 'Old English', '1933'],
 ['Toshihide Saito', 'April 1973', 'Japanese', '20']]

In [ ]:
with open('/content/drive/MyDrive/muss/qualitative/NER_clean_list_wikilarge_0810_complex', 'wb') as fp:
    pickle.dump(clean_complex_data_NER, fp)

In [ ]:
with open('/content/drive/MyDrive/muss/qualitative/NER_clean_list_wikilarge_0810_simple', 'wb') as fp:
    pickle.dump(clean_simple_data_NER, fp)

## data cleansing

In [ ]:
with open ('/content/drive/MyDrive/muss/qualitative/NER_clean_list_wikilarge_0810_complex', 'rb') as fp:
    clean_complex_data_NER = pickle.load(fp)

In [ ]:
with open ('/content/drive/MyDrive/muss/qualitative/NER_clean_list_wikilarge_0810_simple', 'rb') as fp:
    clean_simple_data_NER = pickle.load(fp)

In [ ]:
with open ('/content/drive/MyDrive/muss/qualitative/NER_cooc_0823', 'rb') as fp:
    intersect_NE = pickle.load(fp)

In [ ]:
# load original sentence

data_names = []

PHASES = ['train', 'valid', 'test']
LANGUAGES = ['complex','simple']

data_dir = '/content/drive/MyDrive/muss/resources/datasets/wikilarge_detokenized/'

for phase, language in product(PHASES, LANGUAGES):
  # print(phase, language)
  data_name = phase + '_' + language + '_ori'
  data_names.append(data_name)
  with open(data_dir+phase+'.'+language) as f:
        
    exec("%s = %s" % (data_name,f.read().splitlines()))

    f.close()

In [ ]:
PHASES

['train', 'valid', 'test']

In [ ]:
for index,phase in enumerate(PHASES):
  data_tuples = list(zip(globals()[phase+'_complex_ori'],globals()[phase+'_simple_ori'],clean_complex_data_NER[index],clean_simple_data_NER[index],intersect_NE[index]))
  df_name = phase + '_df'
  print(df_name)
  globals()[df_name] = pd.DataFrame(data_tuples, columns=['complex','simple','complex_NER','simple_NER','co_occur_NER'])
  # file_name = data_name.replace('_','.')

train_df
valid_df
test_df

In [ ]:
train_df.drop(train_df[train_df.simple.map(lambda x: '.' not in x)].index, inplace=True)

In [ ]:
train_df.reset_index(inplace=True)

In [ ]:
c=0
for index, row in train_df.iterrows():
  if all([x.lower() not in row['complex'].lower() for x in row['simple'].split(' ')]):
    # print(row['complex'])
    # print(row['simple'])
    # print()
    train_df.drop(index, inplace=True)
    c+=1

In [ ]:
c

18182

In [ ]:
train_df.reset_index(inplace=True)

In [ ]:
train_df.to_pickle("/content/drive/MyDrive/muss/qualitative/final_wiki_train_df.pkl")

In [ ]:
valid_df.drop(valid_df[valid_df.simple.map(lambda x: '.' not in x)].index, inplace=True)

In [ ]:
valid_df.reset_index(inplace=True)

In [ ]:
c=0
for index, row in valid_df.iterrows():
  if all([x.lower() not in row['complex'].lower() for x in row['simple'].split(' ')]):
    valid_df.drop(index, inplace=True)
    c+=1

In [ ]:
c

60

In [ ]:
valid_df.reset_index(inplace=True)

In [ ]:
valid_df.to_pickle("/content/drive/MyDrive/muss/qualitative/final_wiki_valid_df.pkl")

In [ ]:
# dont need to clean test set as we dont use it in our work

In [ ]:
test_df.to_pickle("/content/drive/MyDrive/muss/qualitative/final_wiki_test_df.pkl")

## create training set (source sentence)

### NE are from complex sentence

In [ ]:
train_df = pd.read_pickle("/content/drive/MyDrive/muss/qualitative/final_wiki_train_df.pkl")
valid_df = pd.read_pickle("/content/drive/MyDrive/muss/qualitative/final_wiki_valid_df.pkl")
test_df = pd.read_pickle("/content/drive/MyDrive/muss/qualitative/final_wiki_test_df.pkl")

In [ ]:
target_dir = '/content/drive/MyDrive/muss/resources/datasets/wikilarge_final_complex_0821'
os.makedirs(target_dir)

In [ ]:
data_names = ['train_complex', 'valid_complex', 'test_complex']

In [ ]:
df_list = ['train_df','valid_df','test_df']

In [ ]:
for index,data_name in enumerate(data_names):

  chosen_df = globals()[df_list[index]]
  file_name = data_name.replace('_','.')

  with open(target_dir+'/'+file_name, 'w') as f:

    for index, row in chosen_df.iterrows():

        sentence = row.complex
        NER = row.complex_NER

        sentence_w_control_token = " <NEXT_NE> " +" <NEXT_NE> ".join(NER) + " <SENT_START> " + sentence

        if index%10000==0:
            print(index)
            print(sentence_w_control_token)

        f.write("{}\n".format(sentence_w_control_token))


  f.close()

0
 <NEXT_NE> James Edward Austen <NEXT_NE> the period 1809 <NEXT_NE> Anna <NEXT_NE> 1814 <NEXT_NE> 11 <SENT_START> There is manuscript evidence that Austen continued to work on these pieces as late as the period 1809 â "11, and that her niece and nephew, Anna and James Edward Austen, made further additions as late as 1814.
10000
 <NEXT_NE> the World Bank <NEXT_NE> Eurobonds <NEXT_NE> Lebanon <NEXT_NE> Syria <NEXT_NE> 1992 <SENT_START> In 1992, he became a prime minister, under Syria's watchful and military occupation of Lebanon, he put the country back on the financial map through the issuing of Eurobonds and won plaudits from the World Bank for his plan to borrow reconstruction money as the country's debt grew to become the largest per capita in the world.
20000
 <NEXT_NE> Kanpur Allahabad <NEXT_NE> GorakhpurAgra <NEXT_NE> Varanasi <NEXT_NE> Domestic <NEXT_NE> Lucknow <SENT_START> Domestic airports are Lucknow, GorakhpurAgra, Kanpur Allahabad and Varanasi.
30000
 <NEXT_NE> Major General Chun Doo <NEXT_NE> December 1979 <NEXT_NE> Chun Doo-hwan <NEXT_NE> Choi <SENT_START> In December 1979, Major General Chun Doo-hwan and close allies within the military staged a military coup against Choi's government.
40000
 <NEXT_NE> Louis Braille <NEXT_NE> Frenchman <NEXT_NE> 1821 <SENT_START> Braille was devised in 1821 by Louis Braille, a blind Frenchman.
50000
 <NEXT_NE> the California Institute of the Arts <NEXT_NE> the Don Bluth film <NEXT_NE> "An American Tail" <NEXT_NE> Hartman <SENT_START> While still attending the California Institute of the Arts, Hartman received the chance to intern as an in-between animator on the Don Bluth film, "An American Tail".
60000
 <NEXT_NE> Christians <NEXT_NE> Jesus <NEXT_NE> God <SENT_START> Christians, through faith in the working of God are spiritually resurrected with Jesus so that they may walk in a new way of life.
70000
 <NEXT_NE> Turkey <NEXT_NE> 1936 <SENT_START> In 1936 he travelled to Turkey to collect and study folk music.
80000
 <NEXT_NE> Elemental <NEXT_NE> group 1 <SENT_START> Elemental rubidium is very soft and highly reactive, with properties similar to other elements in group 1, such as very rapid oxidation in air.
90000
 <NEXT_NE> Hot Space <NEXT_NE> May 1982 <NEXT_NE> British <NEXT_NE> ninth <NEXT_NE> Queen <SENT_START> Hot Space is the ninth studio album by British rock band Queen, released in May 1982.
100000
 <NEXT_NE> Vezirköprü <NEXT_NE> Köprülü <NEXT_NE> Turkey <NEXT_NE> vizier <SENT_START> The town of Vezirköprü in north-central Turkey, formerly named only as Köprü (bridge), whence the name of Köprülü family, holds its present name - literally vizier's bridge - from the same family.
110000
 <NEXT_NE> the Atlantic Ocean <NEXT_NE> sea <SENT_START> The sea is technically a part of the Atlantic Ocean, although it is usually identified as a completely separate body of water.
120000
 <NEXT_NE> about 1 kilometre <NEXT_NE> 489.72 days <NEXT_NE> 17,883 Mm <NEXT_NE> Jupiter <NEXT_NE> 0.4920 <NEXT_NE> Mm in <NEXT_NE> 143 <SENT_START> is about 1 kilometre in diameter, and orbits Jupiter at an average distance of 17,883 Mm in 489.72 days, at an inclination of 143 Â to the ecliptic (143 Â to Jupiter's equator), in a retrograde direction and with an eccentricity of 0.4920.
130000
 <NEXT_NE> the American League <NEXT_NE> Designated <SENT_START> Designated hitters - used primarily by the American League as a substitute for the pitcher, but only for batting.
140000
 <NEXT_NE> the Rocky Mountains <NEXT_NE> 77 <SENT_START> Other island ranges are found in the central third of the state, for a total of 77 named ranges of the Rocky Mountains.
150000
 <NEXT_NE> February 11, 1924 <NEXT_NE> May 7, 1996 <NEXT_NE> Brazilian <NEXT_NE> Robles <NEXT_NE> Pinga <NEXT_NE> Jos <SENT_START> JosÃ LÃ zaro Robles, best known as Pinga (February 11, 1924 -- May 7, 1996) was a Brazilian footballer.
160000
 <NEXT_NE> Gigout <NEXT_NE> 1890 <NEXT_NE> 10 <SENT_START> The 10 piÃ ces pour orgue (composed 1890) are Gigout's most celebrated compositions.
170000
 <NEXT_NE> September 29, 1939 <NEXT_NE> Lawrence Lavon <NEXT_NE> April 10, 2000 <NEXT_NE> Linville <NEXT_NE> American <NEXT_NE> Larry <SENT_START> Lawrence Lavon "Larry" Linville (September 29, 1939 â "April 10, 2000) was an American actor.
180000
 <NEXT_NE>  <SENT_START> The region's fertile soil made it possible for farmers to produce abundant harvests of cereal crops such as corn, oats, and, most importantly, wheat.
190000
 <NEXT_NE> the Gaelic An Ruadh Ghleann <NEXT_NE> the red valley <NEXT_NE> Rutherglen <SENT_START> Rutherglen comes from the Gaelic An Ruadh Ghleann, meaning "the red valley".
200000
 <NEXT_NE> Danilo Alvim Faria <NEXT_NE> 3 December 1920 <NEXT_NE> Brazilian <NEXT_NE> May 1996 <NEXT_NE> 16 <SENT_START> Danilo Alvim Faria (3 December 1920 & ndash; 16 May 1996) was a Brazilian footballer.
210000
 <NEXT_NE> Water <SENT_START> Water is primarily cold and secondarily wet.
220000
 <NEXT_NE> Searching for Soul <NEXT_NE> Chuck Middleton <NEXT_NE> Soul Searchers <NEXT_NE> Jake Wade <SENT_START> It contains a sample of Jake Wade and the Soul Searchers' song "Searching for Soul", which was written by Chuck Middleton.
230000
 <NEXT_NE> Tamil <SENT_START> The literature shows that many of the cultural practices that are considered peculiarly Tamil date back to the classical period.
240000
 <NEXT_NE> Election Elections <NEXT_NE> every five years <SENT_START> Election Elections for president occur every five years by a national vote.
0
 <NEXT_NE> Sorbs in Germany in the <NEXT_NE> Upper Sorbian <NEXT_NE> Upper Lusatia <NEXT_NE> Saxony <NEXT_NE> Hornja <NEXT_NE> today <NEXT_NE> 3\/4 <SENT_START> Upper Sorbian is a minority language spoken by Sorbs in Germany in the historical province of Upper Lusatia (Hornja Å uÅ 3\/4 ica in Sorbian), which is today part of Saxony.
0
 <NEXT_NE> Afro-Arab Abbala <NEXT_NE> Janjaweed <NEXT_NE> Sudanese <NEXT_NE> Rizeigat <SENT_START> One side of the armed conflicts is composed mainly of the Sudanese military and the Janjaweed, a Sudanese militia group recruited mostly from the Afro-Arab Abbala tribes of the northern Rizeigat region in Sudan.

### NE are from simple sentence

In [ ]:
target_dir = '/content/drive/MyDrive/muss/resources/datasets/wikilarge_final_simple_0821'
os.makedirs(target_dir)

In [ ]:
data_names = ['train_complex', 'valid_complex', 'test_complex']

In [ ]:
df_list = ['train_df','valid_df','test_df']

In [ ]:
for index,data_name in enumerate(data_names):

  chosen_df = globals()[df_list[index]]
  file_name = data_name.replace('_','.')

  with open(target_dir+'/'+file_name, 'w') as f:

    for index, row in chosen_df.iterrows():

        sentence = row.complex
        # print(sentence)
        NER = row.simple_NER

        sentence_w_control_token = " <NEXT_NE> " +" <NEXT_NE> ".join(NER) + " <SENT_START> " + sentence

        if index%10000==0:
            print(index)
            print(sentence_w_control_token)

        f.write("{}\n".format(sentence_w_control_token))

  f.close()

0
 <NEXT_NE> James Edward <NEXT_NE> Anna Austen <NEXT_NE> 1814 <SENT_START> There is manuscript evidence that Austen continued to work on these pieces as late as the period 1809 â "11, and that her niece and nephew, Anna and James Edward Austen, made further additions as late as 1814.
10000
 <NEXT_NE> Prime Minister of Lebanon <NEXT_NE> 1992 <NEXT_NE> 1998 <NEXT_NE> 2000 <SENT_START> In 1992, he became a prime minister, under Syria's watchful and military occupation of Lebanon, he put the country back on the financial map through the issuing of Eurobonds and won plaudits from the World Bank for his plan to borrow reconstruction money as the country's debt grew to become the largest per capita in the world.
20000
 <NEXT_NE> Varanasi <NEXT_NE> Lucknow <NEXT_NE> Kanpur <NEXT_NE> Agra <SENT_START> Domestic airports are Lucknow, GorakhpurAgra, Kanpur Allahabad and Varanasi.
30000
 <NEXT_NE> Major General Chun Doo <NEXT_NE> December 1979 <NEXT_NE> Chun Doo-hwan <NEXT_NE> Choi <SENT_START> In December 1979, Major General Chun Doo-hwan and close allies within the military staged a military coup against Choi's government.
40000
 <NEXT_NE> Braille <SENT_START> Braille was devised in 1821 by Louis Braille, a blind Frenchman.
50000
 <NEXT_NE> SpongeBob SquarePants <NEXT_NE> Fairly OddParents <NEXT_NE> second <SENT_START> While still attending the California Institute of the Arts, Hartman received the chance to intern as an in-between animator on the Don Bluth film, "An American Tail".
60000
 <NEXT_NE> Christians <NEXT_NE> Jesus <NEXT_NE> God <SENT_START> Christians, through faith in the working of God are spiritually resurrected with Jesus so that they may walk in a new way of life.
70000
 <NEXT_NE> Hungarian <NEXT_NE> Bartók <NEXT_NE> Kodály <SENT_START> In 1936 he travelled to Turkey to collect and study folk music.
80000
 <NEXT_NE>  <SENT_START> Elemental rubidium is very soft and highly reactive, with properties similar to other elements in group 1, such as very rapid oxidation in air.
90000
 <NEXT_NE> Hot Space <NEXT_NE> English <NEXT_NE> Queen <NEXT_NE> 1982 <SENT_START> Hot Space is the ninth studio album by British rock band Queen, released in May 1982.
100000
 <NEXT_NE> Köprülü <NEXT_NE> Ottoman <NEXT_NE> Albania <SENT_START> The town of Vezirköprü in north-central Turkey, formerly named only as Köprü (bridge), whence the name of Köprülü family, holds its present name - literally vizier's bridge - from the same family.
110000
 <NEXT_NE> Arab\/Persian\/Semitic <NEXT_NE> the Middle East <NEXT_NE> Carthaginians <NEXT_NE> Phoenicians <NEXT_NE> Egyptians <NEXT_NE> Greeks <NEXT_NE> Romans <SENT_START> The sea is technically a part of the Atlantic Ocean, although it is usually identified as a completely separate body of water.
120000
 <NEXT_NE> about 1 kilometre <NEXT_NE> 17,740,000 km <NEXT_NE> 482.691 days <NEXT_NE> Jupiter <NEXT_NE> 0.4449 <NEXT_NE> 143 <SENT_START> is about 1 kilometre in diameter, and orbits Jupiter at an average distance of 17,883 Mm in 489.72 days, at an inclination of 143 Â to the ecliptic (143 Â to Jupiter's equator), in a retrograde direction and with an eccentricity of 0.4920.
130000
 <NEXT_NE> the American League <SENT_START> Designated hitters - used primarily by the American League as a substitute for the pitcher, but only for batting.
140000
 <NEXT_NE> British Columbia <NEXT_NE> Saskatchewan <NEXT_NE> Canadian <NEXT_NE> Alberta <NEXT_NE> U.S. <SENT_START> Other island ranges are found in the central third of the state, for a total of 77 named ranges of the Rocky Mountains.
150000
 <NEXT_NE> JosÃ LÃ zaro Robles <NEXT_NE> 11 February, 1924 <NEXT_NE> Brazilian <SENT_START> JosÃ LÃ zaro Robles, best known as Pinga (February 11, 1924 -- May 7, 1996) was a Brazilian footballer.
160000
 <NEXT_NE> Gigout <NEXT_NE> 1890 <NEXT_NE> 10 <SENT_START> The 10 piÃ ces pour orgue (composed 1890) are Gigout's most celebrated compositions.
170000
 <NEXT_NE> September 29, 1939 <NEXT_NE> Lawrence Lavonne <NEXT_NE> April 10, 2000 <NEXT_NE> Linville <NEXT_NE> American <NEXT_NE> Larry <SENT_START> Lawrence Lavon "Larry" Linville (September 29, 1939 â "April 10, 2000) was an American actor.
180000
 <NEXT_NE> Midwest <SENT_START> The region's fertile soil made it possible for farmers to produce abundant harvests of cereal crops such as corn, oats, and, most importantly, wheat.
190000
 <NEXT_NE> more than 500 years <NEXT_NE> Rutherglen <NEXT_NE> Scotland <NEXT_NE> Glasgow <SENT_START> Rutherglen comes from the Gaelic An Ruadh Ghleann, meaning "the red valley".
200000
 <NEXT_NE> 3 December 1920 <NEXT_NE> Danilo Alvim <NEXT_NE> Brazilian <NEXT_NE> May 1996 <NEXT_NE> 16 <SENT_START> Danilo Alvim Faria (3 December 1920 & ndash; 16 May 1996) was a Brazilian footballer.
210000
 <NEXT_NE> Water <SENT_START> Water is primarily cold and secondarily wet.
220000
 <NEXT_NE> Knowles <NEXT_NE> Texas <SENT_START> It contains a sample of Jake Wade and the Soul Searchers' song "Searching for Soul", which was written by Chuck Middleton.
230000
 <NEXT_NE> Tamil <SENT_START> The literature shows that many of the cultural practices that are considered peculiarly Tamil date back to the classical period.
240000
 <NEXT_NE> Belarusians <SENT_START> Election Elections for president occur every five years by a national vote.
0
 <NEXT_NE> the European Charter for Regional or Minority Languages <NEXT_NE> around 40,000 <NEXT_NE> Upper Sorbian <NEXT_NE> Germany <NEXT_NE> Saxony <SENT_START> Upper Sorbian is a minority language spoken by Sorbs in Germany in the historical province of Upper Lusatia (Hornja Å uÅ 3\/4 ica in Sorbian), which is today part of Saxony.
0
 <NEXT_NE> Afro-Arab Abbala <NEXT_NE> Janjaweed <NEXT_NE> Sudanese <NEXT_NE> Rizeigat <SENT_START> One side of the armed conflicts is composed mainly of the Sudanese military and the Janjaweed, a Sudanese militia group recruited mostly from the Afro-Arab Abbala tribes of the northern Rizeigat region in Sudan.

## dataset that contains NE appear in both sides

### find co-occured NE

In [ ]:
 def substringSieve(NER_list,re_NER):
  string_list = []
  string_list.extend(NER_list)
  string_list.extend(re_NER)
  
  string_list.sort(key=lambda s: len(s), reverse=True)
  out = []
  for s in string_list:
      if not any([s in o for o in out]):
          out.append(s)



  return out

In [ ]:
def lcs(S,T):
    '''
    From https://www.bogotobogo.com/python/python_longest_common_substring_lcs_algorithm_generalized_suffix_tree.php
    '''
    m = len(S)
    n = len(T)
    counter = [[0]*(n+1) for x in range(m+1)]
    longest = 0
    lcs_set = set()
    for i in range(m):
        for j in range(n):
            if S[i] == T[j]:
                c = counter[i][j] + 1
                counter[i+1][j+1] = c
                if c > longest:
                    lcs_set = set()
                    longest = c
                    lcs_set.add(S[i-c+1:i+1])
                elif c == longest:
                    lcs_set.add(S[i-c+1:i+1])
    
    if len(lcs_set) == 1:# and ' ' not in list(lcs_set)[0]:
        return list(lcs_set)[0]
    else:
        return ''

In [ ]:
def get_NE_sent_intersect(a,simple_sent):
  # get the intersection of NE list and sentence
  output = []
  for index,item in enumerate(a):
    tmp_str = lcs(item,simple_sent)
    lower_tmp_str = lcs(item.lower(),simple_sent.lower())

    # print('| NE: item, tmp_str, lower_tmp_str\n')
    # print(item)
    # print(tmp_str)
    # print(lower_tmp_str)

    if tmp_str != '' and lower_tmp_str != '':

      if tmp_str[0] ==' ':
        tmp_str = tmp_str[1:]
        # print('modified tmp_str',tmp_str)

      if lower_tmp_str[0] ==' ':
        lower_tmp_str = lower_tmp_str[1:]
        # print('modified lower_tmp_str',lower_tmp_str)
    
      if tmp_str != '' and tmp_str[-1] ==' ':
        tmp_str = tmp_str[:-1]
        # print('modified tmp_str',tmp_str)
      if lower_tmp_str != '' and lower_tmp_str[-1] ==' ':
        lower_tmp_str = lower_tmp_str[:-1]
        # print('modified lower_tmp_str',lower_tmp_str)

      if len(tmp_str) != 0:
        if len(lower_tmp_str) == len(tmp_str)+1:
          # lower case NE exist in smiple sentence
          output.append(lower_tmp_str)
          # print('output',output)
        else:
          output.append(tmp_str)
          # print('output',output)

    # print('get_NE_sent_intersect output',output)
  
  return output

In [ ]:
def get_rid_of_subword(a,interset_list):
  # check if intersection is not a complete word in its original NE list
  output = []

  NE_lists = [x.split(' ') for x in a]
  list_lists = [item for sublist in NE_lists for item in sublist]
  
  # print('NE_lists',NE_lists)
  # print('list_lists',list_lists)

  for index,interset_item in enumerate(interset_list):
    # print('index,interset_item',index,interset_item)

    if any(x in interset_item for x in list_lists) or any(x.lower() in interset_item for x in list_lists):
      output.append(interset_item)
      # print('get_rid_of_subword output',output)

  return output

In [ ]:
stop_words_list = ["a","about","above","after","again","against","ain","all","am","an","and","any","are","aren","aren't","as","at","be","because","been","before","being","below","between","both","but","by","can","couldn","couldn't","d","did","didn","didn't","do","does","doesn","doesn't","doing","don","don't","down","during","each","few","for","from","further","had","hadn","hadn't","has","hasn","hasn't","have","haven","haven't","having","he","her","here","hers","herself","him","himself","his","how","i","if","in","into","is","isn","isn't","it","it's","its","itself","just","ll","m","ma","me","mightn","mightn't","more","most","mustn","mustn't","my","myself","needn","needn't","no","nor","not","now","o","of","off","on","once","only","or","other","our","ours","ourselves","out","over","own","re","s","same","shan","shan't","she","she's","should","should've","shouldn","shouldn't","so","some","such","t","than","that","that'll","the","their","theirs","them","themselves","then","there","these","they","this","those","through","to","too","under","until","up","ve","very","was","wasn","wasn't","we","were","weren","weren't","what","when","where","which","while","who","whom","why","will","with","won","won't","wouldn","wouldn't","y","you","you'd","you'll","you're","you've","your","yours","yourself","yourselves","could","he'd","he'll","he's","here's","how's","i'd","i'll","i'm","i've","let's","ought","she'd","she'll","that's","there's","they'd","they'll","they're","they've","we'd","we'll","we're","we've","what's","when's","where's","who's","why's","would","able","abst","accordance","according","accordingly","across","act","actually","added","adj","affected","affecting","affects","afterwards","ah","almost","alone","along","already","also","although","always","among","amongst","announce","another","anybody","anyhow","anymore","anyone","anything","anyway","anyways","anywhere","apparently","approximately","arent","arise","around","aside","ask","asking","auth","available","away","awfully","b","back","became","become","becomes","becoming","beforehand","begin","beginning","beginnings","begins","behind","believe","beside","besides","beyond","biol","brief","briefly","c","ca","came","cannot","can't","cause","causes","certain","certainly","co","com","come","comes","contain","containing","contains","couldnt","date","different","done","downwards","due","e","ed","edu","effect","eg","eight","eighty","either","else","elsewhere","end","ending","enough","especially","et","etc","even","ever","every","everybody","everyone","everything","everywhere","ex","except","f","far","ff","fifth","first","five","fix","followed","following","follows","former","formerly","forth","found","four","furthermore","g","gave","get","gets","getting","give","given","gives","giving","go","goes","gone","got","gotten","h","happens","hardly","hed","hence","hereafter","hereby","herein","heres","hereupon","hes","hi","hid","hither","home","howbeit","however","hundred","id","ie","im","immediate","immediately","importance","important","inc","indeed","index","information","instead","invention","inward","itd","it'll","j","k","keep","keeps","kept","kg","km","know","known","knows","l","largely","last","lately","later","latter","latterly","least","less","lest","let","lets","like","liked","likely","line","little","'ll","look","looking","looks","ltd","made","mainly","make","makes","many","may","maybe","mean","means","meantime","meanwhile","merely","mg","might","million","miss","ml","moreover","mostly","mr","mrs","much","mug","must","n","na","name","namely","nay","nd","near","nearly","necessarily","necessary","need","needs","neither","never","nevertheless","new","next","nine","ninety","nobody","non","none","nonetheless","noone","normally","nos","noted","nothing","nowhere","obtain","obtained","obviously","often","oh","ok","okay","old","omitted","one","ones","onto","ord","others","otherwise","outside","overall","owing","p","page","pages","part","particular","particularly","past","per","perhaps","placed","please","plus","poorly","possible","possibly","potentially","pp","predominantly","present","previously","primarily","probably","promptly","proud","provides","put","q","que","quickly","quite","qv","r","ran","rather","rd","readily","really","recent","recently","ref","refs","regarding","regardless","regards","related","relatively","research","respectively","resulted","resulting","results","right","run","said","saw","say","saying","says","sec","section","see","seeing","seem","seemed","seeming","seems","seen","self","selves","sent","seven","several","shall","shed","shes","show","showed","shown","showns","shows","significant","significantly","similar","similarly","since","six","slightly","somebody","somehow","someone","somethan","something","sometime","sometimes","somewhat","somewhere","soon","sorry","specifically","specified","specify","specifying","still","stop","strongly","sub","substantially","successfully","sufficiently","suggest","sup","sure","take","taken","taking","tell","tends","th","thank","thanks","thanx","thats","that've","thence","thereafter","thereby","thered","therefore","therein","there'll","thereof","therere","theres","thereto","thereupon","there've","theyd","theyre","think","thou","though","thoughh","thousand","throug","throughout","thru","thus","til","tip","together","took","toward","towards","tried","tries","truly","try","trying","ts","twice","two","u","un","unfortunately","unless","unlike","unlikely","unto","upon","ups","us","use","used","useful","usefully","usefulness","uses","using","usually","v","value","various","'ve","via","viz","vol","vols","vs","w","want","wants","wasnt","way","wed","welcome","went","werent","whatever","what'll","whats","whence","whenever","whereafter","whereas","whereby","wherein","wheres","whereupon","wherever","whether","whim","whither","whod","whoever","whole","who'll","whomever","whos","whose","widely","willing","wish","within","without","wont","words","world","wouldnt","www","x","yes","yet","youd","youre","z","zero","a's","ain't","allow","allows","apart","appear","appreciate","appropriate","associated","best","better","c'mon","c's","cant","changes","clearly","concerning","consequently","consider","considering","corresponding","course","currently","definitely","described","despite","entirely","exactly","example","going","greetings","hello","help","hopefully","ignored","inasmuch","indicate","indicated","indicates","inner","insofar","it'd","keep","keeps","novel","presumably","reasonably","second","secondly","sensible","serious","seriously","sure","t's","third","thorough","thoroughly","three","well","wonder"]
cap_stop_words_list = [x.title() for x in stop_words_list]
stop_words_all = []
stop_words_all.extend(stop_words_list)
stop_words_all.extend(cap_stop_words_list)
len(stop_words_all)

1568

In [ ]:
df_name = ['train_df','valid_df','test_df',]

In [ ]:
complex_ratio,simple_ratio,intersect_NE = [],[],[]

for i in range(3):
  tmp_complex_ratio = []
  tmp_simple_ratio = []
  tmp_NE = []

  for j in range(len(globals()[df_name[i]])):
    
    if j % 10000 == 0:
      print(i,j)

    a = globals()[df_name[i]].complex_NER[j].copy()
    b = globals()[df_name[i]].simple_NER[j].copy()

    complex_sent = globals()[df_name[i]].complex[j]
    simple_sent = globals()[df_name[i]].simple[j]
  
    # print(a,b)
    # print(complex_sent,'\n',simple_sent)

    # get the intersection of NE list and sentence
    complex_NE_intersect_simple = get_NE_sent_intersect(a,simple_sent)
    simple_NE_intersect_complex = get_NE_sent_intersect(b,complex_sent)

    # delete the intersection if is not a complete word in its original NE list
    # print('a,complex_NE_intersect_simple',a,complex_NE_intersect_simple)
    complex_NE_intersect_simple_final = get_rid_of_subword(a,complex_NE_intersect_simple)
    # print('b,simple_NE_intersect_complex',b,simple_NE_intersect_complex)
    simple_NE_intersect_complex_final = get_rid_of_subword(b,simple_NE_intersect_complex)

    # merge two lists into one and delete substring of any existing string
    output = substringSieve(complex_NE_intersect_simple_final,simple_NE_intersect_complex_final)
    # print('output',output)

    # delete stop words and capital stop words
    final = []
    for index,item in enumerate([x.split(' ') for x in output]):
      # if the item is 'WORD ' or ' WORD'

      # print('item,len(item)',item,len(item))
      if len(item) == 2 and '' in item:
        space_index = item.index('')
        str_index = 1 - space_index
        # dont append the word if it is a stop word
        if item[str_index] not in stop_words_all:
          final.append(item[str_index])
          # print('item[str_index]',item[str_index])

      # item is a phrase 
      else:
        clean_item = ' '.join(item)
        if clean_item[-1] == ' ':
          clean_item = clean_item[:-1]
        # print('clean_item',clean_item)
        final.append(clean_item)

    # print('final',final)
    
    # break down NE in complex_NE and simple_NE list to check if any NE is not included in the final output due to some special case such as
    '''
    complex sentence: In Holland they were called Stadspijpers, in Germany Stadtpfeifer and in Italy Pifferi.	
    simple sentence: They were called Stadtpfeifer in Germany and Pifferi in Italy.	
    NE in complex sentence: [Germany Stadtpfeifer, Italy Pifferi, Stadspijpers, Holland]
    NE in simple sentence: [Stadtpfeifer in Germany, Pifferi in Italy]
    
    the function lcs only look for the longest common substring, so when do lcs('Germany Stadtpfeifer',simple_sentence), the output is Stadtpfeifer.
    And when do lcs('Stadtpfeifer in Germany',complex_sentence), the output is also Stadtpfeifer.
    Hence 'Germany' is ignored in both cases.
    '''

    # split the item and flat the list of lists
    c = [item for sublist in [x.split(' ') for x in a] for item in sublist] # e.g.  ['Germany', 'Stadtpfeifer', 'Italy', 'Pifferi', 'Stadspijpers', 'Holland']
    d = [item for sublist in [x.split(' ') for x in b] for item in sublist] # e.g. ['Stadtpfeifer', 'in', 'Germany', 'Pifferi', 'in', 'Italy']
    
    intersection_1 = [x for ele in c for x in d if x in ele] # element in d that also is a (sub)string in c
    intersection_2 = [x for ele in d for x in c if x in ele]

    # do substringSieve twice
    final_output = substringSieve(substringSieve(intersection_1,intersection_2),final)
    # print('final_output',final_output)

    FINAL = [element for element in final_output if element not in stop_words_all]
    
    # print('FINAL',FINAL)
    ####################
    tmp_NE.append(FINAL)
    ####################

    # find the ratio of len(complex_NE_in_both)/len(complex) and the same for simple
    if len(FINAL) != 0:

      cc = list(set([element for element in c if element not in stop_words_all]))
      dd = list(set([element for element in d if element not in stop_words_all]))

      complex_in_inter_num = sum([x in FINAL for x in cc])
      # print('complex_in_inter_num',complex_in_inter_num)

      simple_in_inter_num = sum([x in FINAL for x in dd])
      # print('simple_in_inter_num',simple_in_inter_num)

      if len(a) != 0:
        complex_in_inter_ratio = complex_in_inter_num/len(a)
      else:
        complex_in_inter_ratio = np.nan

      if len(b) != 0:
        simple_in_inter_ratio = simple_in_inter_num/len(b)
      else:
        simple_in_inter_ratio = np.nan

      # print(complex_in_inter_ratio,simple_in_inter_ratio)
      ####################
      tmp_complex_ratio.append(complex_in_inter_ratio)
      tmp_simple_ratio.append(simple_in_inter_ratio)
      ####################

  complex_ratio += [tmp_complex_ratio]
  simple_ratio += [tmp_simple_ratio]
  intersect_NE += [tmp_NE]

0 0
0 10000
0 20000
0 30000
0 40000
0 50000
0 60000
0 70000
0 80000
0 90000
0 100000
0 110000
0 120000
0 130000
0 140000
0 150000
0 160000
0 170000
0 180000
0 190000
0 200000
0 210000
0 220000
0 230000
0 240000
1 0
2 0

In [ ]:
with open('/content/drive/MyDrive/muss/qualitative/NER_cooc_0823', 'wb') as fp:
    pickle.dump(intersect_NE, fp)

In [ ]:
with open('/content/drive/MyDrive/muss/qualitative/complex_ratio', 'wb') as fp:
    pickle.dump(complex_ratio, fp)

In [ ]:
with open('/content/drive/MyDrive/muss/qualitative/simple_ratio', 'wb') as fp:
    pickle.dump(simple_ratio, fp)

In [ ]:
with open ('/content/drive/MyDrive/muss/qualitative/NER_cooc_0823', 'rb') as fp:
    NER_cooc_0823 = pickle.load(fp)

In [ ]:
train_df['co_occur_NER'] = NER_cooc_0823[0]

In [ ]:
valid_df['co_occur_NER'] = NER_cooc_0823[1]

In [ ]:
test_df['co_occur_NER'] = NER_cooc_0823[2]

In [ ]:
with open('/content/drive/MyDrive/muss/qualitative/train_df_0911', 'wb') as fp:
    pickle.dump(train_df, fp)

In [ ]:
with open('/content/drive/MyDrive/muss/qualitative/valid_df_0911', 'wb') as fp:
    pickle.dump(valid_df, fp)

In [ ]:
with open('/content/drive/MyDrive/muss/qualitative/test_df_0911', 'wb') as fp:
    pickle.dump(test_df, fp)

### create dataset (source)

In [ ]:
target_dir = '/content/drive/MyDrive/muss/resources/datasets/wikilarge_cooc_0823'

In [ ]:
!mkdir $target_dir

In [ ]:
data_names = ['train_complex', 'valid_complex', 'test_complex']

In [ ]:
df_list = ['train_df','valid_df','test_df']

In [ ]:
for index,data_name in enumerate(data_names):

  chosen_df = globals()[df_list[index]]
  file_name = data_name.replace('_','.')

  with open(target_dir+'/'+file_name, 'w') as f:

    for index, row in chosen_df.iterrows():

        sentence = row.complex
        # print(sentence)
        NER = row.co_occur_NER

        sentence_w_control_token = " <NEXT_NE> " +" <NEXT_NE> ".join(NER) + " <SENT_START> " + sentence

        if index%10000==0:
            print(index)
            print(sentence_w_control_token)

        f.write("{}\n".format(sentence_w_control_token))


  f.close()

0
 <NEXT_NE> James Edward <NEXT_NE> Austen <NEXT_NE> Anna <NEXT_NE> 1814 <SENT_START> There is manuscript evidence that Austen continued to work on these pieces as late as the period 1809 â "11, and that her niece and nephew, Anna and James Edward Austen, made further additions as late as 1814.
10000
 <NEXT_NE> of Lebanon <NEXT_NE> 1992 <SENT_START> Red is also one of the subtractive primary colors of RYB color space but not CMYK color space.
20000
 <NEXT_NE> Varanasi <NEXT_NE> Lucknow <NEXT_NE> Kanpur <NEXT_NE> Agra <SENT_START> During ceremonies, the players covered their Reebok logos.
30000
 <NEXT_NE> Major General Chun Doo <NEXT_NE> December 1979 <NEXT_NE> Chun Doo-hwan <NEXT_NE> Choi <SENT_START> The first known rose garden was planted by empress JosÃ phine de Beauharnais in Malmaison.
40000
 <NEXT_NE> Braille <SENT_START> Most elements have more than one possible oxidation state.
50000
 <NEXT_NE>  <SENT_START> Billy Budd is an opera by Benjamin Britten, from a libretto by E. M. Forster and Eric Crozier, was first performed at the Royal Opera House, Covent Garden, London on 1 December 1951.
60000
 <NEXT_NE> Christians <NEXT_NE> Jesus <NEXT_NE> God <SENT_START> As such it is the subject of complex geopolitical issues, whereby providers must satisfy a myriad of regulatory environments in order to deliver service to a global market.
70000
 <NEXT_NE>  <SENT_START> June 6 & ndash; The Ashmolean Museum opens as the world's first university museum.
80000
 <NEXT_NE>  <SENT_START> It may be reached from Autobahn A7, which links Kassel, Göttingen and Hannover, and routes 1, 6, 243 and 494.
90000
 <NEXT_NE> Hot Space <NEXT_NE> Queen <NEXT_NE> 1982 <SENT_START> He also briefly served in the Ukrainian People's Army.
100000
 <NEXT_NE> Köprülü <SENT_START> Tomá Kopecký (; born February 5, 1982) is a Slovak professional ice hockey right winger currently playing for the Chicago Blackhawks of the National Hockey League (NHL).
110000
 <NEXT_NE>  <SENT_START> For example, the actions considered rebellious in 1869 were undertaken by Riel as the leader of a government recognized by Canada as in legitimate control of territory that did not belong to Canada; Canada negotiated the Manitoba Act with this government.
120000
 <NEXT_NE> about 1 kilometre <NEXT_NE> Jupiter <NEXT_NE> days <NEXT_NE> m in <NEXT_NE> 143 <NEXT_NE> 17, <SENT_START> Power is usually transmitted as alternating current through overhead power lines.
130000
 <NEXT_NE> the American League <SENT_START> Chitons (sg.)
140000
 <NEXT_NE>  <SENT_START> Super Mario Bros.: The Lost Levels, known in Japan as, is a platformer video game developed and published by Nintendo for the Famicom Disk System.
150000
 <NEXT_NE> JosÃ LÃ zaro Robles <NEXT_NE> Brazilian <NEXT_NE> February <NEXT_NE> 1924 <NEXT_NE> 11 <SENT_START> See also Wikipedia: Sock puppetry WikiProject on open proxies m: Editing with Tor This policy is based on No open proxies.
160000
 <NEXT_NE> Gigout <NEXT_NE> 1890 <NEXT_NE> 10 <SENT_START> Early career Barris was born in Philadelphia, Pennsylvania.
170000
 <NEXT_NE> September 29, 1939 <NEXT_NE> Lawrence Lavon <NEXT_NE> April 10, 2000 <NEXT_NE> Linville <NEXT_NE> American <NEXT_NE> Larry <SENT_START> Remembering that Bradman had struggled against bouncers during his 232 at The Oval in 1930, Jardine decided to combine traditional leg theory with short-pitched bowling to combat Bradman.
180000
 <NEXT_NE>  <SENT_START> January 8 & ndash; African-American men are granted the right to vote in the District of Columbia.
190000
 <NEXT_NE> Rutherglen <SENT_START> A transaction on a stock exchange must be made between two members of the exchange -- an ordinary person may not walk into the New York Stock Exchange (for example), and ask to trade stock.
200000
 <NEXT_NE> 3 December 1920 <NEXT_NE> Danilo Alvim <NEXT_NE> Brazilian <NEXT_NE> May 1996 <NEXT_NE> 16 <SENT_START> Usually a campus includes libraries, lecture halls, residence halls and park-like settings.
210000
 <NEXT_NE> Water <SENT_START> On December 19, 2002, Brian Heidik defeated Clay Jordan by a vote of 4-3 to become the sole survivor.
220000
 <NEXT_NE>  <SENT_START> He was also a businessman and a co-founder of Tim Hortons.
230000
 <NEXT_NE> Tamil <SENT_START> As such, vitamin B2 is required for a wide variety of cellular processes.
240000
 <NEXT_NE> every five years <SENT_START> Jiminy is a cheerful cricket who acts as Pinocchio's "conscience" and the partial narrator of the story.
0
 <NEXT_NE> Upper Sorbian <NEXT_NE> in Germany <NEXT_NE> inority <NEXT_NE> Saxony <SENT_START> Upper Sorbian is a minority language spoken by Sorbs in Germany in the historical province of Upper Lusatia (Hornja Å uÅ 3\/4 ica in Sorbian), which is today part of Saxony.
0
 <NEXT_NE> Afro-Arab Abbala <NEXT_NE> Janjaweed <NEXT_NE> Sudanese <NEXT_NE> Rizeigat <SENT_START> One side of the armed conflicts is composed mainly of the Sudanese military and the Janjaweed, a Sudanese militia group recruited mostly from the Afro-Arab Abbala tribes of the northern Rizeigat region in Sudan.

## create training set (target sentence)

In [ ]:
target_dir = '/content/drive/MyDrive/muss/resources/datasets/token_complex_wikilarge_0810'

In [ ]:
data_names = ['train_simple', 'valid_simple', 'test_simple']

In [ ]:
df_list = ['train_df','valid_df','test_df']

In [ ]:
for index,data_name in enumerate(data_names):

  chosen_df = globals()[df_list[index]]
  file_name = data_name.replace('_','.')

  with open(target_dir+'/'+file_name, 'w') as f:

    for index, row in chosen_df.iterrows():

        sentence = row.simple

        if index%10000==0:
            print(index)
            print(sentence)

        f.write("{}\n".format(sentence))

        # break

  f.close()

0
There is some proof that Austen continued to work on these pieces later in life. Her nephew and niece, James Edward and Anna Austen, may have made further additions to her work in around 1814.
10000
Red is the color of blood and tomatoes.
20000
1996 Atlanta Olympics; sprinter Linford Christie wore contact lenses embossed with the Puma AG logo at the press conference preceding the 100 metres final, despite Reebok being the official sponsor.
30000
The first known rose garden was planted by French empress JosÃ phine de Beauharnais in Malmaison.
40000
All elements have an oxidation state of 0.
50000
Billy Budd is an opera by Benjamin Britten. It was first performed at the Royal Opera House, Covent Garden, London on 1 December 1951.
60000
As such it is the subject of complex geopolitical issues, whereby providers must satisfy many legal restrictions in order to deliver service to a global market.
70000
Considered to be the turning point in the Ottoman Empires fortunes.
80000
Neigenfind, W.: Unsere schöne Stadt, p. 46.
90000
Bulgakov also fought in the Ukrainian People's Army.
100000
Other Websites
110000
For example, in 1869 Riel was the leader of a government recognized by Canada as controlling territory that did not belong to Canada; Canada worked on the Manitoba Act with this government.
120000
Electricity is usually transmitted over long distance through overhead power transmission lines.
130000
Most chitons are nocturnal, so they feed at night, and hide under rocks during the day.
140000
Super Mario Bros.: The Lost Levels is a Mario video game made by Nintendo.
150000
See also Wikipedia: Sock puppetry m: Editing with Tor This policy is based on No open proxies.
160000
Early career Early in his career, Barris tried songwriting.
170000
In 1930, when Bradman scored 232 runs against England at The Oval, Jardine saw that Bradman found it difficult when the bowlers bounced the balls high to the body.
180000
January 8 - African-American men granted the right to vote in the District of Columbia
190000
They buy and sell stock, as a normal person can not walk into the stock exchange for example, and ask to buy stock.
200000
Campuses can have libraries, lecture halls, and parks.
210000
On December 19, 2002, Brian Heidik won against Clay Jordan by a vote of 4-3 to become the sole survivor.
220000
He was also a businessman and the co-founder of Tim Hortons, now Canada's largest restaurant chain.
230000
The eyes may become yellow, stinky and watery, and bright light might hurt the eyes easily so that it is hard to open the eyes in strong daylight (photophobia).
240000
Characters Jiminy Cricket, voiced by Cliff Edwards, is a cricket who acts as Pinocchio's "conscience" and tells parts of the story.
0
There are around 40,000 speakers of Upper Sorbian living in Saxony. Upper Sorbian is a minority language in Germany according to the European Charter for Regional or Minority Languages.
0
One side of the armed conflicts is made of Sudanese military and the Janjaweed, a Sudanese militia recruited from the Afro-Arab Abbala tribes of the northern Rizeigat region in Sudan.

# operation lexical simplification

In [ ]:
train_df = pd.read_pickle("/content/drive/MyDrive/muss/qualitative/train_df_0911")
valid_df = pd.read_pickle("/content/drive/MyDrive/muss/qualitative/valid_df_0911")
test_df = pd.read_pickle("/content/drive/MyDrive/muss/qualitative/test_df_0911")

## training set

### obtain CERF level using Amplifi engine

In [ ]:
import requests
import json
import ast
from multiprocessing import Pool

In [ ]:
# API
url = #

headers = {
    'Content-Type': 'application/json',
    'x-api-key' : #
}

In [ ]:
# request word level difficulty 
def get_data(text):
    r1 = requests.request("POST", url, headers=headers, data=json.dumps([{'id':'test','text':text}]))
    a = r1.json()
    return a

In [ ]:
# get results for trainning set

In [ ]:
with Pool(5) as p:
    result = p.map(get_data, train_df['complex'])

with open('/content/drive/MyDrive/muss/qualitative/train_complex_ABCD', 'wb') as fp:
    pickle.dump(result, fp)

In [ ]:
with Pool(5) as p:
    result = p.map(get_data, train_df['simple'])

with open('/content/drive/MyDrive/muss/qualitative/train_simple_ABCD', 'wb') as fp:
    pickle.dump(result, fp)

In [ ]:
with open('/content/drive/MyDrive/muss/qualitative/train_complex_ABCD', 'rb') as f:
    train_complex_result = pickle.load(f)
with open('/content/drive/MyDrive/muss/qualitative/train_simple_ABCD', 'rb') as f:
    train_simple_result = pickle.load(f)

In [ ]:
# combine results for complex and simple sentences
from pandas import json_normalize

def process_file(f):
  jsonObj = json.loads(f)
  return json_normalize(jsonObj)

In [ ]:
frames = []

for i in range(len(train_complex_result)):

  if 'body' not in train_complex_result[i].keys():
    print('error',i)
    tmp = process_file(train_complex_result[i-1]['body'])
    tmp.loc[:] = np.nan
    frames.append(tmp)
  else:
    frames.append(process_file(train_complex_result[i]['body']))

train_complex_df = pd.concat(frames)

with open('/content/drive/MyDrive/muss/qualitative/ABCD_train_complex', 'wb') as fp:
    pickle.dump(train_complex_df, fp)

In [ ]:
frames = []

for i in range(len(train_simple_result)):

  if 'body' not in train_simple_result[i].keys():
    print('error',i)
    tmp = process_file(train_simple_result[i-1]['body'])
    tmp.loc[:] = np.nan
    frames.append(tmp)
  else:
    frames.append(process_file(train_simple_result[i]['body']))

train_simple_df = pd.concat(frames)

with open('/content/drive/MyDrive/muss/qualitative/ABCD_train_simple', 'wb') as fp:
    pickle.dump(train_simple_df, fp)

In [ ]:
with open('/content/drive/MyDrive/muss/qualitative/ABCD_train_complex', 'rb') as f:
    train_complex_df = pickle.load(f)
with open('/content/drive/MyDrive/muss/qualitative/ABCD_train_simple', 'rb') as f:
    train_simple_df = pickle.load(f)

In [ ]:
new_train_complex_df = train_complex_df.drop(columns=['id','read.A1','read.B1','read.B2','read.C1','read.overall']).add_prefix('complex_')
new_train_simple_df = train_simple_df.drop(columns=['id','read.A1','read.B1','read.B2','read.C1','read.overall']).add_prefix('simple_')
combined_df = pd.concat([new_train_complex_df, new_train_simple_df], axis=1).reset_index().drop(columns='index')
combined_df

       complex_read_level  ...                                       simple_words
0                      C1  ...  [{'id': 1, 'text': 'There', 'start_idx': 0, 'e...
1                      B2  ...  [{'id': 1, 'text': 'Mandaean', 'start_idx': 0,...
2                      B2  ...  [{'id': 1, 'text': 'When', 'start_idx': 0, 'en...
3                      B2  ...  [{'id': 1, 'text': 'Cogeneration', 'start_idx'...
4                      B1  ...  [{'id': 1, 'text': 'The', 'start_idx': 0, 'end...
...                   ...  ...                                                ...
249161                 C2  ...  [{'id': 1, 'text': 'These', 'start_idx': 0, 'e...
249162                 C2  ...  [{'id': 1, 'text': 'Saint', 'start_idx': 0, 'e...
249163                 B2  ...  [{'id': 1, 'text': 'There', 'start_idx': 0, 'e...
249164                 C1  ...  [{'id': 1, 'text': 'Consequently', 'start_idx'...
249165                 C2  ...  [{'id': 1, 'text': 'The', 'start_idx': 0, 'end...

[249166 rows x 4 columns]

### find C1+C2+B2 words

In [ ]:
sentence_df = train_df.drop(columns=['level_0','index','complex_NER','simple_NER','co_occur_NER'])
sentence_df

                                                  complex                                             simple
0       There is manuscript evidence that Austen conti...  There is some proof that Austen continued to w...
1       In a remarkable comparative analysis, Mandaean...  Mandaean scholar Säve-Söderberg showed that Ma...
2       Before Persephone was released to Hermes, who ...  When Demeter went to the Underworld to rescue ...
3       Cogeneration plants are commonly found in dist...  Cogeneration plants are commonly found in dist...
4       Geneva (,;,;,;;) is the second-most-populous c...  The city's main newspaper is the Tribune de Ge...
...                                                   ...                                                ...
249161  These structures form at the high-pressure dep...  These structures form at the high-pressure dep...
249162  Saint-Maixant is a commune in the Gironde depa...  Saint-Maixant, Gironde is a commune. It is fou...
249163  The Hollywood Walk of Fame is a series of side...              There are many stars on the sidewalk.
249164  Boulogne-Billancourt is the most populous subu...  Consequently, Boulogne-Billancourt is one of t...
249165  Overall, Juventus have won 51 official competi...  The club is the most successful team in the hi...

[249166 rows x 2 columns]

In [ ]:
FINAL_df = pd.concat([sentence_df, combined_df], axis=1)
FINAL_df = FINAL_df[FINAL_df['complex_words'].notna()][FINAL_df['simple_words'].notna()]
FINAL_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

                                                  complex  ...                                       simple_words
0       There is manuscript evidence that Austen conti...  ...  [{'id': 1, 'text': 'There', 'start_idx': 0, 'e...
1       In a remarkable comparative analysis, Mandaean...  ...  [{'id': 1, 'text': 'Mandaean', 'start_idx': 0,...
2       Before Persephone was released to Hermes, who ...  ...  [{'id': 1, 'text': 'When', 'start_idx': 0, 'en...
3       Cogeneration plants are commonly found in dist...  ...  [{'id': 1, 'text': 'Cogeneration', 'start_idx'...
4       Geneva (,;,;,;;) is the second-most-populous c...  ...  [{'id': 1, 'text': 'The', 'start_idx': 0, 'end...
...                                                   ...  ...                                                ...
249161  These structures form at the high-pressure dep...  ...  [{'id': 1, 'text': 'These', 'start_idx': 0, 'e...
249162  Saint-Maixant is a commune in the Gironde depa...  ...  [{'id': 1, 'text': 'Saint', 'start_idx': 0, 'e...
249163  The Hollywood Walk of Fame is a series of side...  ...  [{'id': 1, 'text': 'There', 'start_idx': 0, 'e...
249164  Boulogne-Billancourt is the most populous subu...  ...  [{'id': 1, 'text': 'Consequently', 'start_idx'...
249165  Overall, Juventus have won 51 official competi...  ...  [{'id': 1, 'text': 'The', 'start_idx': 0, 'end...

[249056 rows x 6 columns]

In [ ]:
with open('/content/drive/MyDrive/muss/qualitative/ABCD_train_FINAL', 'wb') as fp:
    pickle.dump(FINAL_df, fp)

In [ ]:
FINAL_df = pd.concat([train_df.drop(columns=['level_0','index']), FINAL_df.drop(columns=['complex','simple'])],axis=1)
FINAL_df

                                                  complex  ...                                       simple_words
0       There is manuscript evidence that Austen conti...  ...  [{'id': 1, 'text': 'There', 'start_idx': 0, 'e...
1       In a remarkable comparative analysis, Mandaean...  ...  [{'id': 1, 'text': 'Mandaean', 'start_idx': 0,...
2       Before Persephone was released to Hermes, who ...  ...  [{'id': 1, 'text': 'When', 'start_idx': 0, 'en...
3       Cogeneration plants are commonly found in dist...  ...  [{'id': 1, 'text': 'Cogeneration', 'start_idx'...
4       Geneva (,;,;,;;) is the second-most-populous c...  ...  [{'id': 1, 'text': 'The', 'start_idx': 0, 'end...
...                                                   ...  ...                                                ...
249161  These structures form at the high-pressure dep...  ...  [{'id': 1, 'text': 'These', 'start_idx': 0, 'e...
249162  Saint-Maixant is a commune in the Gironde depa...  ...  [{'id': 1, 'text': 'Saint', 'start_idx': 0, 'e...
249163  The Hollywood Walk of Fame is a series of side...  ...  [{'id': 1, 'text': 'There', 'start_idx': 0, 'e...
249164  Boulogne-Billancourt is the most populous subu...  ...  [{'id': 1, 'text': 'Consequently', 'start_idx'...
249165  Overall, Juventus have won 51 official competi...  ...  [{'id': 1, 'text': 'The', 'start_idx': 0, 'end...

[249166 rows x 9 columns]

In [ ]:
def get_word_lists(row,difficulty_level_list_like):
  C2_word_list = []
  # print(row['complex'])
  # print(row['complex_words'])
  if not isinstance(row['complex_words'], float):

    for words in row['complex_words']:
      # print(words['read_level'],words['text'])
      if words['read_level'] in difficulty_level_list_like:
        # print(words['text'])
        if words['text'].lower() not in row['simple'].lower():
          
          if all(words['text'] not in x for x in row['complex_NER']):
            C2_word_list.append(words['text'])

  if len(C2_word_list) >= 1:
    return C2_word_list
  else:
    return np.nan

In [ ]:
C2C1B2_word_lists = []
for index,row in FINAL_df.iterrows():
  # print(index)
  C2C1B2_word_lists.append(get_word_lists(row,['C2','C1','B2']))

In [ ]:
FINAL_df['C2C1B2_in_complex'] = C2C1B2_word_lists

In [ ]:
C2C1B2_df = FINAL_df.drop(columns=['complex_words','simple_words']).dropna()

In [ ]:
C2C1B2_df

                                                  complex  ...                              C2C1B2_in_complex
0       There is manuscript evidence that Austen conti...  ...                         [manuscript, evidence]
1       In a remarkable comparative analysis, Mandaean...  ...                        [comparative, analysis]
2       Before Persephone was released to Hermes, who ...  ...                            [released, tricked]
4       Geneva (,;,;,;;) is the second-most-populous c...  ...                           [populous, populous]
8       A scythe (Oxford English Dictionary, Oxford Un...  ...  [agricultural, reaping, crops, reaping, i.e.]
...                                                   ...  ...                                            ...
249157  Barbirolli won a scholarship to study at Trini...  ...                                     [archived]
249160  Operationally, the cyclone was first classifie...  ...                                   [classified]
249163  The Hollywood Walk of Fame is a series of side...  ...             [sidewalks, monument, achievement]
249164  Boulogne-Billancourt is the most populous subu...  ...                                     [populous]
249165  Overall, Juventus have won 51 official competi...  ...                                       [making]

[128288 rows x 8 columns]

In [ ]:
with open('/content/drive/MyDrive/muss/qualitative/ABCD_train_C2C1B2_0911', 'wb') as fp:
    pickle.dump(C2C1B2_df, fp)

## validation set

### obtain CERF level using Amplifi engine

In [ ]:
import requests
import json
import ast
from multiprocessing import Pool

In [ ]:
# API
url = #

headers = {
    'Content-Type': 'application/json',
    'x-api-key' : #
}

In [ ]:
# request word level difficulty 
def get_data(text):
    r1 = requests.request("POST", url, headers=headers, data=json.dumps([{'id':'test','text':text}]))
    a = r1.json()
    return a

In [ ]:
with Pool(5) as p:
    result = p.map(get_data, valid_df['complex'])

with open('/content/drive/MyDrive/muss/qualitative/valid_complex_ABCD', 'wb') as fp:
    pickle.dump(result, fp)

In [ ]:
with Pool(5) as p:
    result = p.map(get_data, valid_df['simple'])

with open('/content/drive/MyDrive/muss/qualitative/valid_simple_ABCD', 'wb') as fp:
    pickle.dump(result, fp)

In [ ]:
with open('/content/drive/MyDrive/muss/qualitative/valid_complex_ABCD', 'rb') as f:
    valid_complex_result = pickle.load(f)
with open('/content/drive/MyDrive/muss/qualitative/valid_simple_ABCD', 'rb') as f:
    valid_simple_result = pickle.load(f)

In [ ]:
# combine complex and simple sentences word difficulty level 
from pandas import json_normalize

def process_file(f):
  jsonObj = json.loads(f)
  return json_normalize(jsonObj)

In [ ]:
frames = []

# normalise data if the complex senetnce does not has a corsresponidng result
for i in range(len(valid_complex_result)):

  if 'body' not in valid_complex_result[i].keys():
    print('error',i)
    tmp = process_file(valid_complex_result[i-1]['body'])
    tmp.loc[:] = np.nan
    frames.append(tmp)
  else:
    frames.append(process_file(valid_complex_result[i]['body']))

valid_complex_df = pd.concat(frames)

with open('/content/drive/MyDrive/muss/qualitative/ABCD_valid_complex', 'wb') as fp:
    pickle.dump(valid_complex_df, fp)

In [ ]:
frames = []

for i in range(len(valid_simple_result)):

  if 'body' not in valid_simple_result[i].keys():
    print('error',i)
    tmp = process_file(valid_simple_result[i-1]['body'])
    tmp.loc[:] = np.nan
    frames.append(tmp)
  else:
    frames.append(process_file(valid_simple_result[i]['body']))

valid_simple_df = pd.concat(frames)

with open('/content/drive/MyDrive/muss/qualitative/ABCD_valid_simple', 'wb') as fp:
    pickle.dump(valid_simple_df, fp)

In [ ]:
with open('/content/drive/MyDrive/muss/qualitative/ABCD_valid_complex', 'rb') as f:
    valid_complex_df = pickle.load(f)
with open('/content/drive/MyDrive/muss/qualitative/ABCD_valid_simple', 'rb') as f:
    valid_simple_df = pickle.load(f)

In [ ]:
new_valid_complex_df = valid_complex_df.drop(columns=['id','read.A1','read.B1','read.B2','read.C1','read.overall']).add_prefix('complex_')
new_valid_simple_df = valid_simple_df.drop(columns=['id','read.A1','read.B1','read.B2','read.C1','read.overall']).add_prefix('simple_')
combined_df = pd.concat([new_valid_complex_df, new_valid_simple_df], axis=1).reset_index().drop(columns='index')
combined_df

    complex_read_level  ...                                       simple_words
0                   C1  ...  [{'id': 1, 'text': 'There', 'start_idx': 0, 'e...
1                   A1  ...  [{'id': 1, 'text': 'It', 'start_idx': 0, 'end_...
2                   A1  ...  [{'id': 1, 'text': 'The', 'start_idx': 0, 'end...
3                   C1  ...  [{'id': 1, 'text': 'A', 'start_idx': 0, 'end_i...
4                   B1  ...  [{'id': 1, 'text': 'The', 'start_idx': 0, 'end...
..                 ...  ...                                                ...
812                 A1  ...  [{'id': 1, 'text': 'Other', 'start_idx': 0, 'e...
813                 B2  ...  [{'id': 1, 'text': '"', 'start_idx': 0, 'end_i...
814                 C1  ...  [{'id': 1, 'text': 'The', 'start_idx': 0, 'end...
815                 C2  ...  [{'id': 1, 'text': 'Certain', 'start_idx': 0, ...
816                 A2  ...  [{'id': 1, 'text': 'The', 'start_idx': 0, 'end...

[817 rows x 4 columns]

### find C1+C2+B2 words

In [ ]:
sentence_df = valid_df.drop(columns=['level_0','index','complex_NER','simple_NER','co_occur_NER'])
sentence_df

                                               complex                                             simple
0    Upper Sorbian is a minority language spoken by...  There are around 40,000 speakers of Upper Sorb...
1    It used to be on display as part of the Americ...  It is on permanent display as part of the Amer...
2    Relation to the Nobel Prize The Sveriges Riksb...  The Sveriges Riksbank Prize in Economic Scienc...
3    A shoe is an item of footwear evolved at first...                A shoe is also an item of clothing.
4    Of the eleven tropical cyclones that formed du...  The season officially started on May 15, 1995 ...
..                                                 ...                                                ...
812  Sedimentary rock is one of the three main rock...  Other types of rock are igneous rock and metam...
813  "It took more than 60 years after 1859 until t...  "It took more than 60 years after 1859 until t...
814  East Timor, also known as Timor-Leste (Tetum: ...  The Democratic Republic of East Timor or Timor...
815  Certain artistic traditions that originated in...  Certain traditions that originated in the Byza...
816  One of the largest of the Classic Maya cities,...  The ruins are on lowland rainforest, but Tikal...

[817 rows x 2 columns]

In [ ]:
FINAL_df = pd.concat([sentence_df, combined_df], axis=1)
FINAL_df = FINAL_df[FINAL_df['complex_words'].notna()][FINAL_df['simple_words'].notna()]
FINAL_df

                                               complex  ...                                       simple_words
0    Upper Sorbian is a minority language spoken by...  ...  [{'id': 1, 'text': 'There', 'start_idx': 0, 'e...
1    It used to be on display as part of the Americ...  ...  [{'id': 1, 'text': 'It', 'start_idx': 0, 'end_...
2    Relation to the Nobel Prize The Sveriges Riksb...  ...  [{'id': 1, 'text': 'The', 'start_idx': 0, 'end...
3    A shoe is an item of footwear evolved at first...  ...  [{'id': 1, 'text': 'A', 'start_idx': 0, 'end_i...
4    Of the eleven tropical cyclones that formed du...  ...  [{'id': 1, 'text': 'The', 'start_idx': 0, 'end...
..                                                 ...  ...                                                ...
812  Sedimentary rock is one of the three main rock...  ...  [{'id': 1, 'text': 'Other', 'start_idx': 0, 'e...
813  "It took more than 60 years after 1859 until t...  ...  [{'id': 1, 'text': '"', 'start_idx': 0, 'end_i...
814  East Timor, also known as Timor-Leste (Tetum: ...  ...  [{'id': 1, 'text': 'The', 'start_idx': 0, 'end...
815  Certain artistic traditions that originated in...  ...  [{'id': 1, 'text': 'Certain', 'start_idx': 0, ...
816  One of the largest of the Classic Maya cities,...  ...  [{'id': 1, 'text': 'The', 'start_idx': 0, 'end...

[817 rows x 6 columns]

In [ ]:
FINAL_df = pd.concat([valid_df.drop(columns=['level_0','index']), FINAL_df.drop(columns=['complex','simple'])],axis=1)
FINAL_df

                                               complex  ...                                       simple_words
0    Upper Sorbian is a minority language spoken by...  ...  [{'id': 1, 'text': 'There', 'start_idx': 0, 'e...
1    It used to be on display as part of the Americ...  ...  [{'id': 1, 'text': 'It', 'start_idx': 0, 'end_...
2    Relation to the Nobel Prize The Sveriges Riksb...  ...  [{'id': 1, 'text': 'The', 'start_idx': 0, 'end...
3    A shoe is an item of footwear evolved at first...  ...  [{'id': 1, 'text': 'A', 'start_idx': 0, 'end_i...
4    Of the eleven tropical cyclones that formed du...  ...  [{'id': 1, 'text': 'The', 'start_idx': 0, 'end...
..                                                 ...  ...                                                ...
812  Sedimentary rock is one of the three main rock...  ...  [{'id': 1, 'text': 'Other', 'start_idx': 0, 'e...
813  "It took more than 60 years after 1859 until t...  ...  [{'id': 1, 'text': '"', 'start_idx': 0, 'end_i...
814  East Timor, also known as Timor-Leste (Tetum: ...  ...  [{'id': 1, 'text': 'The', 'start_idx': 0, 'end...
815  Certain artistic traditions that originated in...  ...  [{'id': 1, 'text': 'Certain', 'start_idx': 0, ...
816  One of the largest of the Classic Maya cities,...  ...  [{'id': 1, 'text': 'The', 'start_idx': 0, 'end...

[817 rows x 9 columns]

In [ ]:
def get_word_lists(row,difficulty_level_list_like):
  C2_word_list = []
  # print(row['complex'])
  # print(row['complex_words'])
  if not isinstance(row['complex_words'], float):

    for words in row['complex_words']:
      # print(words['read_level'],words['text'])
      if words['read_level'] in difficulty_level_list_like:
        # print(words['text'])
        if words['text'].lower() not in row['simple'].lower():
          
          if all(words['text'] not in x for x in row['complex_NER']):
            C2_word_list.append(words['text'])

  if len(C2_word_list) >= 1:
    return C2_word_list
  else:
    return np.nan

In [ ]:
C2C1B2_word_lists = []
for index,row in FINAL_df.iterrows():
  # print(index)
  C2C1B2_word_lists.append(get_word_lists(row,['C2','C1','B2']))

In [ ]:
len([x for x in C2C1B2_word_lists if str(x) != 'nan'])

418

In [ ]:
FINAL_df['C2C1B2_in_complex'] = C2C1B2_word_lists

In [ ]:
C2C1B2_df = FINAL_df.drop(columns=['complex_words','simple_words']).dropna()

In [ ]:
C2C1B2_df

                                               complex  ...               C2C1B2_in_complex
0    Upper Sorbian is a minority language spoken by...  ...                           [ica]
3    A shoe is an item of footwear evolved at first...  ...                       [evolved]
4    Of the eleven tropical cyclones that formed du...  ...  [tropical, cyclones, affected]
5    In 2007/08 it had over 40,000 students studyin...  ...                        [making]
9    The Summer of Love became a defining moment of...  ...     [defining, into, awareness]
..                                                 ...  ...                             ...
803  1996 & ndash; Hamas bombmaker Yahya Ayyash is ...  ...                     [bombmaker]
804  She went on tour with the Oyster Band, and the...  ...          [limited, promotional]
805  He would hang out at the Palace Theater in Red...  ...                  [hang, chores]
814  East Timor, also known as Timor-Leste (Tetum: ...  ...                    [officially]
816  One of the largest of the Classic Maya cities,...  ...                    [reservoirs]

[418 rows x 8 columns]

In [ ]:
with open('/content/drive/MyDrive/muss/qualitative/ABCD_valid_C2C1B2_0911', 'wb') as fp:
    pickle.dump(C2C1B2_df, fp)

## create dataset

In [ ]:
with open('/content/drive/MyDrive/muss/qualitative/ABCD_train_C2C1B2_0911', 'rb') as f:
    train_C2C1B2_df = pickle.load(f)

with open('/content/drive/MyDrive/muss/qualitative/ABCD_valid_C2C1B2_0911', 'rb') as f:
    valid_C2C1B2_df = pickle.load(f)

In [ ]:
TRAIN_DF = pd.concat([train_df.drop(columns=['level_0','index']),train_C2C1B2_df.drop(columns=['complex','simple','complex_NER','simple_NER','co_occur_NER','complex_read_level','simple_read_level'])], axis=1)
TRAIN_DF

                                                  complex  ...                   C2C1B2_in_complex
0       There is manuscript evidence that Austen conti...  ...              [manuscript, evidence]
1       In a remarkable comparative analysis, Mandaean...  ...             [comparative, analysis]
2       Before Persephone was released to Hermes, who ...  ...                 [released, tricked]
3       Cogeneration plants are commonly found in dist...  ...                                 NaN
4       Geneva (,;,;,;;) is the second-most-populous c...  ...                [populous, populous]
...                                                   ...  ...                                 ...
249161  These structures form at the high-pressure dep...  ...                                 NaN
249162  Saint-Maixant is a commune in the Gironde depa...  ...                                 NaN
249163  The Hollywood Walk of Fame is a series of side...  ...  [sidewalks, monument, achievement]
249164  Boulogne-Billancourt is the most populous subu...  ...                          [populous]
249165  Overall, Juventus have won 51 official competi...  ...                            [making]

[249166 rows x 6 columns]

In [ ]:
VALID_DF = pd.concat([valid_df.drop(columns=['level_0','index']),valid_C2C1B2_df.drop(columns=['complex','simple','complex_NER','simple_NER','co_occur_NER','complex_read_level','simple_read_level'])], axis=1)
VALID_DF

                                               complex  ...               C2C1B2_in_complex
0    Upper Sorbian is a minority language spoken by...  ...                           [ica]
1    It used to be on display as part of the Americ...  ...                             NaN
2    Relation to the Nobel Prize The Sveriges Riksb...  ...                             NaN
3    A shoe is an item of footwear evolved at first...  ...                       [evolved]
4    Of the eleven tropical cyclones that formed du...  ...  [tropical, cyclones, affected]
..                                                 ...  ...                             ...
812  Sedimentary rock is one of the three main rock...  ...                             NaN
813  "It took more than 60 years after 1859 until t...  ...                             NaN
814  East Timor, also known as Timor-Leste (Tetum: ...  ...                    [officially]
815  Certain artistic traditions that originated in...  ...                             NaN
816  One of the largest of the Classic Maya cities,...  ...                    [reservoirs]

[817 rows x 6 columns]

In [ ]:
target_dir = '/content/drive/MyDrive/muss/resources/datasets/0911_ABCD_wikilarge_no_inc_na'
!mkdir $target_dir

In [ ]:
data_names = ['train_complex', 'valid_complex']

In [ ]:
df_list = ['train_C2C1B2_df','valid_C2C1B2_df']

In [ ]:
for index,data_name in enumerate(data_names):

  chosen_df = globals()[df_list[index]]
  file_name = data_name.replace('_','.')

  with open(target_dir+'/'+file_name, 'w') as f:
    for index, row in chosen_df.iterrows():

        sentence = row.complex
        NER = row.C2C1B2_in_complex

        if isinstance(NER, float):
          sentence_w_control_token = " <NEXT_DIFFICULT_WORD> "+" <SENT_START> " + sentence
        elif len(NER) == 0:
          sentence_w_control_token = " <NEXT_DIFFICULT_WORD> "+" <SENT_START> " + sentence
        else:
          sentence_w_control_token = " <NEXT_DIFFICULT_WORD> " +" <NEXT_DIFFICULT_WORD> ".join(NER) + " <SENT_START> " + sentence
          

        if index%10000==0:
            print(index)
            print(sentence_w_control_token)

        f.write("{}\n".format(sentence_w_control_token))

        # break

  f.close()

0
 <NEXT_DIFFICULT_WORD> manuscript <NEXT_DIFFICULT_WORD> evidence <SENT_START> There is manuscript evidence that Austen continued to work on these pieces as late as the period 1809 â "11, and that her niece and nephew, Anna and James Edward Austen, made further additions as late as 1814.
10000
 <NEXT_DIFFICULT_WORD> 's <NEXT_DIFFICULT_WORD> watchful <NEXT_DIFFICULT_WORD> issuing <NEXT_DIFFICULT_WORD> plaudits <NEXT_DIFFICULT_WORD> borrow <NEXT_DIFFICULT_WORD> reconstruction <NEXT_DIFFICULT_WORD> capita <SENT_START> In 1992, he became a prime minister, under Syria's watchful and military occupation of Lebanon, he put the country back on the financial map through the issuing of Eurobonds and won plaudits from the World Bank for his plan to borrow reconstruction money as the country's debt grew to become the largest per capita in the world.
40000
 <NEXT_DIFFICULT_WORD> devised <SENT_START> Braille was devised in 1821 by Louis Braille, a blind Frenchman.
50000
 <NEXT_DIFFICULT_WORD> intern <NEXT_DIFFICULT_WORD> animator <SENT_START> While still attending the California Institute of the Arts, Hartman received the chance to intern as an in-between animator on the Don Bluth film, "An American Tail".
60000
 <NEXT_DIFFICULT_WORD> resurrected <SENT_START> Christians, through faith in the working of God are spiritually resurrected with Jesus so that they may walk in a new way of life.
80000
 <NEXT_DIFFICULT_WORD> rubidium <NEXT_DIFFICULT_WORD> reactive <NEXT_DIFFICULT_WORD> properties <NEXT_DIFFICULT_WORD> rapid <NEXT_DIFFICULT_WORD> oxidation <SENT_START> Elemental rubidium is very soft and highly reactive, with properties similar to other elements in group 1, such as very rapid oxidation in air.
110000
 <NEXT_DIFFICULT_WORD> technically <NEXT_DIFFICULT_WORD> identified <SENT_START> The sea is technically a part of the Atlantic Ocean, although it is usually identified as a completely separate body of water.
120000
 <NEXT_DIFFICULT_WORD> retrograde <SENT_START> is about 1 kilometre in diameter, and orbits Jupiter at an average distance of 17,883 Mm in 489.72 days, at an inclination of 143 Â to the ecliptic (143 Â to Jupiter's equator), in a retrograde direction and with an eccentricity of 0.4920.
130000
 <NEXT_DIFFICULT_WORD> hitters <NEXT_DIFFICULT_WORD> primarily <NEXT_DIFFICULT_WORD> substitute <SENT_START> Designated hitters - used primarily by the American League as a substitute for the pitcher, but only for batting.
150000
 <NEXT_DIFFICULT_WORD> as <SENT_START> JosÃ LÃ zaro Robles, best known as Pinga (February 11, 1924 -- May 7, 1996) was a Brazilian footballer.
160000
 <NEXT_DIFFICULT_WORD> celebrated <SENT_START> The 10 piÃ ces pour orgue (composed 1890) are Gigout's most celebrated compositions.
180000
 <NEXT_DIFFICULT_WORD> fertile <NEXT_DIFFICULT_WORD> made <NEXT_DIFFICULT_WORD> it <NEXT_DIFFICULT_WORD> abundant <NEXT_DIFFICULT_WORD> harvests <NEXT_DIFFICULT_WORD> cereal <SENT_START> The region's fertile soil made it possible for farmers to produce abundant harvests of cereal crops such as corn, oats, and, most importantly, wheat.
200000
 <NEXT_DIFFICULT_WORD> ndash <SENT_START> Danilo Alvim Faria (3 December 1920 & ndash; 16 May 1996) was a Brazilian footballer.
210000
 <NEXT_DIFFICULT_WORD> secondarily <SENT_START> Water is primarily cold and secondarily wet.
220000
 <NEXT_DIFFICULT_WORD> sample <SENT_START> It contains a sample of Jake Wade and the Soul Searchers' song "Searching for Soul", which was written by Chuck Middleton.
230000
 <NEXT_DIFFICULT_WORD> considered <NEXT_DIFFICULT_WORD> peculiarly <SENT_START> The literature shows that many of the cultural practices that are considered peculiarly Tamil date back to the classical period.
0
 <NEXT_DIFFICULT_WORD> ica <SENT_START> Upper Sorbian is a minority language spoken by Sorbs in Germany in the historical province of Upper Lusatia (Hornja Å uÅ 3\/4 ica in Sorbian), which is today part of Saxony.

In [ ]:
data_names = ['train_simple', 'valid_simple']

In [ ]:
# train.simple & valid.simple
for index,data_name in enumerate(data_names):

  chosen_df = globals()[df_list[index]]
  file_name = data_name.replace('_','.')
  
  with open(target_dir+'/'+file_name, 'w') as f:

    for index, row in chosen_df.iterrows():

        sentence = row.simple

        if index%10000==0:
            print(index)
            print(sentence)

        f.write("{}\n".format(sentence))

        # break

  f.close()

0
There is some proof that Austen continued to work on these pieces later in life. Her nephew and niece, James Edward and Anna Austen, may have made further additions to her work in around 1814.
10000
He was also the Prime Minister of Lebanon from 1992 to 1998, and he became Prime Minister again in 2000.
40000
To make it possible to read faster, certain transcriptions of Braille use contractions.
50000
The Fairly OddParents became a huge hit, second only in the ratings to SpongeBob SquarePants.
60000
Christians believe that through faith in God they are spiritually made alive with Jesus so that they may lead a new life.
80000
It and its compounds are used mainly in science research though.
110000
Above all, it was the superhighway of transport in ancient times, allowing for trade and cultural exchange between peoples of the region -- Phoenicians, Egyptians, Carthaginians, Greeks, Romans, and the Middle East (Arab\/Persian\/Semitic) cultures.
120000
is about 1 kilometre in diameter, and orbits Jupiter at an average distance of 17,740,000 km in 482.691 days, at an inclination of 143 Â to the ecliptic (143 Â to Jupiter's equator), with an eccentricity of 0.4449.
130000
In the American League, pitchers do not bat, and only pitch.
150000
JosÃ LÃ zaro Robles (born 11 February, 1924) is a former Brazilian football player.
160000
The 10 piÃ ces pour orgue, composed in 1890, are Gigout's most famous compositions.
180000
The region's soil is very good for farming. Midwest farmers can produce lots of grain crops such as corn, oats, and, most importantly, wheat.
200000
Danilo Alvim (3 December 1920 -- 16 May 1996) is a former Brazilian football player.
210000
Water is both cold and wet.
220000
Though Knowles is from Texas, she had never previously been on mechanical bull.
230000
The classical Tamil literature of that period record many practices peculiar to Tamil people.
0
There are around 40,000 speakers of Upper Sorbian living in Saxony. Upper Sorbian is a minority language in Germany according to the European Charter for Regional or Minority Languages.

# opeartion pererving + lexical simplifition

In [ ]:
train_df = pd.read_pickle("/content/drive/MyDrive/muss/qualitative/train_df_0911")
valid_df = pd.read_pickle("/content/drive/MyDrive/muss/qualitative/valid_df_0911")
test_df = pd.read_pickle("/content/drive/MyDrive/muss/qualitative/test_df_0911")

In [ ]:
with open('/content/drive/MyDrive/muss/qualitative/ABCD_train_C2C1B2_0911', 'rb') as f:
    train_C2C1B2_df = pickle.load(f)

with open('/content/drive/MyDrive/muss/qualitative/ABCD_valid_C2C1B2_0911', 'rb') as f:
    valid_C2C1B2_df = pickle.load(f)

In [ ]:
TRAIN_DF = pd.concat([train_df.drop(columns=['level_0','index']),train_C2C1B2_df.drop(columns=['complex','simple','complex_NER','simple_NER','co_occur_NER','complex_read_level','simple_read_level'])], axis=1)
TRAIN_DF

                                                  complex  ...                   C2C1B2_in_complex
0       There is manuscript evidence that Austen conti...  ...              [manuscript, evidence]
1       In a remarkable comparative analysis, Mandaean...  ...             [comparative, analysis]
2       Before Persephone was released to Hermes, who ...  ...                 [released, tricked]
3       Cogeneration plants are commonly found in dist...  ...                                 NaN
4       Geneva (,;,;,;;) is the second-most-populous c...  ...                [populous, populous]
...                                                   ...  ...                                 ...
249161  These structures form at the high-pressure dep...  ...                                 NaN
249162  Saint-Maixant is a commune in the Gironde depa...  ...                                 NaN
249163  The Hollywood Walk of Fame is a series of side...  ...  [sidewalks, monument, achievement]
249164  Boulogne-Billancourt is the most populous subu...  ...                          [populous]
249165  Overall, Juventus have won 51 official competi...  ...                            [making]

[249166 rows x 6 columns]

In [ ]:
VALID_DF = pd.concat([valid_df.drop(columns=['level_0','index']),valid_C2C1B2_df.drop(columns=['complex','simple','complex_NER','simple_NER','co_occur_NER','complex_read_level','simple_read_level'])], axis=1)
VALID_DF

                                               complex  ...               C2C1B2_in_complex
0    Upper Sorbian is a minority language spoken by...  ...                           [ica]
1    It used to be on display as part of the Americ...  ...                             NaN
2    Relation to the Nobel Prize The Sveriges Riksb...  ...                             NaN
3    A shoe is an item of footwear evolved at first...  ...                       [evolved]
4    Of the eleven tropical cyclones that formed du...  ...  [tropical, cyclones, affected]
..                                                 ...  ...                             ...
812  Sedimentary rock is one of the three main rock...  ...                             NaN
813  "It took more than 60 years after 1859 until t...  ...                             NaN
814  East Timor, also known as Timor-Leste (Tetum: ...  ...                    [officially]
815  Certain artistic traditions that originated in...  ...                             NaN
816  One of the largest of the Classic Maya cities,...  ...                    [reservoirs]

[817 rows x 6 columns]

In [ ]:
target_dir = '/content/drive/MyDrive/muss/resources/datasets/0913_ABCD_NER_wikilarge'
!mkdir $target_dir

In [ ]:
data_names = ['train_complex', 'valid_complex']

In [ ]:
df_list = ['TRAIN_DF','VALID_DF']

In [ ]:
for index,data_name in enumerate(data_names):

  chosen_df = globals()[df_list[index]]
  file_name = data_name.replace('_','.')

  
  with open(target_dir+'/'+file_name, 'w') as f:

    for index, row in chosen_df.iterrows():

        sentence = row.complex
        NER = row.simple_NER
        hard_word = row.C2C1B2_in_complex

        if not isinstance(hard_word, float):

          sentence_w_control_token = " <NEXT_NE> "+" <NEXT_NE> ".join(NER)+" <NEXT_DIFFICULT_WORD> "+" <NEXT_DIFFICULT_WORD> ".join(hard_word)+ " <SENT_START> " + sentence


          if index%10000==0:
              print(index)
              print(sentence_w_control_token)

          f.write("{}\n".format(sentence_w_control_token))

        # break

  f.close()

0
 <NEXT_NE> James Edward <NEXT_NE> Anna Austen <NEXT_NE> 1814 <NEXT_DIFFICULT_WORD> manuscript <NEXT_DIFFICULT_WORD> evidence <SENT_START> There is manuscript evidence that Austen continued to work on these pieces as late as the period 1809 â "11, and that her niece and nephew, Anna and James Edward Austen, made further additions as late as 1814.
10000
 <NEXT_NE> Prime Minister of Lebanon <NEXT_NE> 1992 <NEXT_NE> 1998 <NEXT_NE> 2000 <NEXT_DIFFICULT_WORD> 's <NEXT_DIFFICULT_WORD> watchful <NEXT_DIFFICULT_WORD> issuing <NEXT_DIFFICULT_WORD> plaudits <NEXT_DIFFICULT_WORD> borrow <NEXT_DIFFICULT_WORD> reconstruction <NEXT_DIFFICULT_WORD> capita <SENT_START> In 1992, he became a prime minister, under Syria's watchful and military occupation of Lebanon, he put the country back on the financial map through the issuing of Eurobonds and won plaudits from the World Bank for his plan to borrow reconstruction money as the country's debt grew to become the largest per capita in the world.
40000
 <NEXT_NE> Braille <NEXT_DIFFICULT_WORD> devised <SENT_START> Braille was devised in 1821 by Louis Braille, a blind Frenchman.
50000
 <NEXT_NE> SpongeBob SquarePants <NEXT_NE> Fairly OddParents <NEXT_NE> second <NEXT_DIFFICULT_WORD> intern <NEXT_DIFFICULT_WORD> animator <SENT_START> While still attending the California Institute of the Arts, Hartman received the chance to intern as an in-between animator on the Don Bluth film, "An American Tail".
60000
 <NEXT_NE> Christians <NEXT_NE> Jesus <NEXT_NE> God <NEXT_DIFFICULT_WORD> resurrected <SENT_START> Christians, through faith in the working of God are spiritually resurrected with Jesus so that they may walk in a new way of life.
80000
 <NEXT_NE>  <NEXT_DIFFICULT_WORD> rubidium <NEXT_DIFFICULT_WORD> reactive <NEXT_DIFFICULT_WORD> properties <NEXT_DIFFICULT_WORD> rapid <NEXT_DIFFICULT_WORD> oxidation <SENT_START> Elemental rubidium is very soft and highly reactive, with properties similar to other elements in group 1, such as very rapid oxidation in air.
110000
 <NEXT_NE> Arab\/Persian\/Semitic <NEXT_NE> the Middle East <NEXT_NE> Carthaginians <NEXT_NE> Phoenicians <NEXT_NE> Egyptians <NEXT_NE> Greeks <NEXT_NE> Romans <NEXT_DIFFICULT_WORD> technically <NEXT_DIFFICULT_WORD> identified <SENT_START> The sea is technically a part of the Atlantic Ocean, although it is usually identified as a completely separate body of water.
120000
 <NEXT_NE> about 1 kilometre <NEXT_NE> 17,740,000 km <NEXT_NE> 482.691 days <NEXT_NE> Jupiter <NEXT_NE> 0.4449 <NEXT_NE> 143 <NEXT_DIFFICULT_WORD> retrograde <SENT_START> is about 1 kilometre in diameter, and orbits Jupiter at an average distance of 17,883 Mm in 489.72 days, at an inclination of 143 Â to the ecliptic (143 Â to Jupiter's equator), in a retrograde direction and with an eccentricity of 0.4920.
130000
 <NEXT_NE> the American League <NEXT_DIFFICULT_WORD> hitters <NEXT_DIFFICULT_WORD> primarily <NEXT_DIFFICULT_WORD> substitute <SENT_START> Designated hitters - used primarily by the American League as a substitute for the pitcher, but only for batting.
150000
 <NEXT_NE> JosÃ LÃ zaro Robles <NEXT_NE> 11 February, 1924 <NEXT_NE> Brazilian <NEXT_DIFFICULT_WORD> as <SENT_START> JosÃ LÃ zaro Robles, best known as Pinga (February 11, 1924 -- May 7, 1996) was a Brazilian footballer.
160000
 <NEXT_NE> Gigout <NEXT_NE> 1890 <NEXT_NE> 10 <NEXT_DIFFICULT_WORD> celebrated <SENT_START> The 10 piÃ ces pour orgue (composed 1890) are Gigout's most celebrated compositions.
180000
 <NEXT_NE> Midwest <NEXT_DIFFICULT_WORD> fertile <NEXT_DIFFICULT_WORD> made <NEXT_DIFFICULT_WORD> it <NEXT_DIFFICULT_WORD> abundant <NEXT_DIFFICULT_WORD> harvests <NEXT_DIFFICULT_WORD> cereal <SENT_START> The region's fertile soil made it possible for farmers to produce abundant harvests of cereal crops such as corn, oats, and, most importantly, wheat.
200000
 <NEXT_NE> 3 December 1920 <NEXT_NE> Danilo Alvim <NEXT_NE> Brazilian <NEXT_NE> May 1996 <NEXT_NE> 16 <NEXT_DIFFICULT_WORD> ndash <SENT_START> Danilo Alvim Faria (3 December 1920 & ndash; 16 May 1996) was a Brazilian footballer.
210000
 <NEXT_NE> Water <NEXT_DIFFICULT_WORD> secondarily <SENT_START> Water is primarily cold and secondarily wet.
220000
 <NEXT_NE> Knowles <NEXT_NE> Texas <NEXT_DIFFICULT_WORD> sample <SENT_START> It contains a sample of Jake Wade and the Soul Searchers' song "Searching for Soul", which was written by Chuck Middleton.
230000
 <NEXT_NE> Tamil <NEXT_DIFFICULT_WORD> considered <NEXT_DIFFICULT_WORD> peculiarly <SENT_START> The literature shows that many of the cultural practices that are considered peculiarly Tamil date back to the classical period.
0
 <NEXT_NE> the European Charter for Regional or Minority Languages <NEXT_NE> around 40,000 <NEXT_NE> Upper Sorbian <NEXT_NE> Germany <NEXT_NE> Saxony <NEXT_DIFFICULT_WORD> ica <SENT_START> Upper Sorbian is a minority language spoken by Sorbs in Germany in the historical province of Upper Lusatia (Hornja Å uÅ 3\/4 ica in Sorbian), which is today part of Saxony.

In [ ]:
data_names = ['train_simple', 'valid_simple']

In [ ]:
# train.simple & valid.simple
for index,data_name in enumerate(data_names):

  chosen_df = globals()[df_list[index]]
  file_name = data_name.replace('_','.')
  
  with open(target_dir+'/'+file_name, 'w') as f:

    for index, row in chosen_df.iterrows():

        sentence = row.simple
        hard_word = row.C2C1B2_in_complex

        if not isinstance(hard_word, float):

          if index%10000==0:
              print(index)
              print(sentence)

          f.write("{}\n".format(sentence))

        # break

  f.close()

0
There is some proof that Austen continued to work on these pieces later in life. Her nephew and niece, James Edward and Anna Austen, may have made further additions to her work in around 1814.
10000
He was also the Prime Minister of Lebanon from 1992 to 1998, and he became Prime Minister again in 2000.
40000
To make it possible to read faster, certain transcriptions of Braille use contractions.
50000
The Fairly OddParents became a huge hit, second only in the ratings to SpongeBob SquarePants.
60000
Christians believe that through faith in God they are spiritually made alive with Jesus so that they may lead a new life.
80000
It and its compounds are used mainly in science research though.
110000
Above all, it was the superhighway of transport in ancient times, allowing for trade and cultural exchange between peoples of the region -- Phoenicians, Egyptians, Carthaginians, Greeks, Romans, and the Middle East (Arab\/Persian\/Semitic) cultures.
120000
is about 1 kilometre in diameter, and orbits Jupiter at an average distance of 17,740,000 km in 482.691 days, at an inclination of 143 Â to the ecliptic (143 Â to Jupiter's equator), with an eccentricity of 0.4449.
130000
In the American League, pitchers do not bat, and only pitch.
150000
JosÃ LÃ zaro Robles (born 11 February, 1924) is a former Brazilian football player.
160000
The 10 piÃ ces pour orgue, composed in 1890, are Gigout's most famous compositions.
180000
The region's soil is very good for farming. Midwest farmers can produce lots of grain crops such as corn, oats, and, most importantly, wheat.
200000
Danilo Alvim (3 December 1920 -- 16 May 1996) is a former Brazilian football player.
210000
Water is both cold and wet.
220000
Though Knowles is from Texas, she had never previously been on mechanical bull.
230000
The classical Tamil literature of that period record many practices peculiar to Tamil people.
0
There are around 40,000 speakers of Upper Sorbian living in Saxony. Upper Sorbian is a minority language in Germany according to the European Charter for Regional or Minority Languages.